body {
  background-image: url(../svg/about/background.svg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

main {
  background-color: transparent;
  position: relative; }

article {
  width: 75%;
  margin: 0 auto; }

header {
  position: relative; }

.header {
  margin-bottom: 10rem; }
  .header__heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 115vh; }
    .header__heading--1 {
      transform: translateY(-8%); }
    .header__heading--2 {
      flex-basis: 36%; }
  .header__bg {
    position: absolute;
    z-index: -1;
    width: 100%; }
  .header--h1 {
    font-size: 7.4rem;
    letter-spacing: 3px;
    margin-bottom: 2.6rem; }
  .header--paragraph {
    font-size: 2.4rem;
    letter-spacing: 2px;
    word-spacing: 4px; }
  .header--svg {
    width: 90%; }
  .header__image {
    width: 80%;
    height: 40%;
    display: flex;
    margin-left: auto; }
    .header__image--arrow {
      margin-right: auto; }
      .header__image--arrow img {
        cursor: pointer;
        width: 2.5rem; }
    .header__image--container {
      width: 85%;
      height: calc(85vw * 0.4);
      object-fit: cover;
      position: relative; }
    .header__image--container::before {
      content: '';
      position: absolute;
      top: -3rem;
      width: 100%;
      height: 100%;
      background-color: #fdd0d5; }
    .header__image--image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translateX(-3rem); }

@media only screen and (max-width: 950px) {
  .header__heading {
    flex-direction: column;
    height: auto;
    padding: 25rem 0 0; }
    .header__heading--1 {
      margin-bottom: 5rem; }
    .header__heading--2 {
      max-width: 450px;
      margin-bottom: 16rem; }
  .header--svg {
    width: 100%; }
  .header--h1 {
    font-size: 8rem; }
  .header__image {
    width: 90%;
    height: calc(90vw * 0.5); }
    .header__image--container {
      height: 100%; } }

@media only screen and (max-width: 700px) {
  .header__heading {
    padding: 12rem 0 0; }
  .header__image {
    width: 90%;
    height: calc(95vw * 0.5);
    margin: 0 auto; }
    .header__image--arrow {
      display: none; }
    .header__image--container {
      width: 100%;
      height: 100%; }
    .header__image--container::before {
      top: -3rem;
      transform: translateX(1.5rem); }
    .header__image--image {
      transform: translateX(-1.5rem); } }

@media only screen and (max-width: 550px) {
  .header__heading--2 {
    width: 60%;
    min-width: 280px;
    max-width: none; }
  .header--h1 {
    font-size: 5.6rem;
    letter-spacing: 2px; }
  .header--paragraph {
    font-size: 2.2rem;
    letter-spacing: 1px;
    word-spacing: 2px; } }

@media only screen and (max-width: 450px) {
  .header__heading--1 {
    margin: 0 auto 4rem 1rem; }
  .header--h1 {
    font-size: 4.8rem; }
  .header--paragraph {
    font-size: 2rem; }
  .header__image--container::before {
    top: -2rem;
    transform: translateX(1rem); }
  .header__image--image {
    transform: translateX(-1rem); } }

@media only screen and (max-width: 350px) {
  .header__heading--2 {
    width: 70%;
    min-width: 240px;
    max-width: none; }
  .header--h1 {
    font-size: 4.4rem;
    letter-spacing: 0; }
  .header--paragraph {
    font-size: 1.9rem;
    letter-spacing: 0; } }

.section__teams {
  border-top: 2px solid #a0a0a0;
  padding-top: 8rem;
  margin-bottom: 10rem; }

.teams__heading {
  text-align: center; }

.teams__container {
  width: 70%;
  max-width: 900px;
  margin: 0 auto 10rem; }

.teams__footer {
  font-size: 4rem;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 500; }

.teams__h2 {
  font-size: 5.6rem;
  letter-spacing: 2px; }
  .teams__h2 span {
    display: block;
    font-size: 2.5rem;
    letter-spacing: 0px;
    margin: 0.2rem 0 3rem 0; }

.teams__paragraph {
  margin-bottom: 10rem; }

.founder {
  width: 100%;
  height: 400px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10rem;
  position: relative; }
  .founder__image {
    flex-basis: 50%;
    display: flex;
    background-image: url(../images/about/G.S-Prasad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .founder__image--img {
      width: 80%;
      background-image: url(../images/about/G.S-Prasad.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      overflow: hidden; }
    .founder__image--img:hover .founder__image--hover {
      transform: translateY(0);
      opacity: 1; }
    .founder__image--h3 {
      font-size: 3rem;
      letter-spacing: 4px;
      position: relative;
      padding-bottom: 1rem; }
    .founder__image--h3::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff; }
    .founder__image--paragraph {
      margin-top: 1.5rem;
      line-height: 1.4;
      font-size: 1.8rem; }
    .founder__image__social {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%); }
      .founder__image__social--paragraph {
        font-size: 2rem; }
      .founder__image__social--image img {
        width: 3.5rem;
        margin: 1.5rem 1rem; }
    .founder__image--hover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000;
      padding: 70px 20px;
      color: #fff;
      text-align: center;
      transform: translateY(100%);
      opacity: 0;
      transition: 0.5s ease-out; }
    .founder__image--overlay {
      width: 20%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6); }
  .founder__heading {
    flex-basis: 50%;
    padding: 2rem 4rem;
    text-align: justify;
    background-color: #ffdada; }
  .founder--h3 {
    font-size: 2.6rem;
    font-weight: 500; }
    .founder--h3 span {
      display: block;
      font-size: 1.8rem;
      margin-bottom: 4rem; }

@media only screen and (max-width: 1400px) {
  .section__teams {
    width: 85%; } }

@media only screen and (max-width: 1200px) {
  .section__teams {
    width: 90%; }
  .founder {
    height: 420px; }
  .teams__container {
    width: 80%; } }

@media only screen and (max-width: 850px) {
  .teams__container {
    width: 95%; } }

@media only screen and (max-width: 700px) {
  .teams__heading {
    text-align: left; }
  .teams__paragraph {
    font-size: 1.8rem; }
  .teams__footer {
    font-size: 4rem;
    letter-spacing: 0px; }
  .founder {
    flex-direction: column;
    width: 60%;
    min-width: 320px;
    height: 700px; }
    .founder--h3 {
      font-size: 3rem; }
      .founder--h3 span {
        font-size: 2rem;
        margin-bottom: 3rem; }
    .founder__paragraph {
      font-size: 1.8rem; } }

@media only screen and (max-width: 450px) {
  .teams__h2 {
    font-size: 4.6rem; }
  .teams__footer {
    font-size: 2.8rem; }
  .teams__paragraph {
    margin-bottom: 6rem; }
  .founder {
    width: 100%;
    min-width: 0;
    max-width: 325px; }
    .founder__image--img {
      height: 320px; } }

.section__life {
  border-top: 2px solid #a0a0a0;
  padding-top: 8rem;
  margin-bottom: 10rem; }

.life__heading {
  display: flex;
  align-items: center;
  margin-bottom: 10rem; }
  .life__heading--h2 {
    font-size: 4rem;
    width: 30%; }
  .life__heading--paragraph {
    width: 70%;
    font-size: 2.3rem;
    line-height: 1.5; }

.life__container {
  display: grid;
  grid-template-columns: 280px 300px 350px;
  grid-template-rows: 1fr 1fr;
  gap: 4rem 0;
  justify-content: space-between;
  grid-template-areas: '. . .'
 '. . .'; }

.life {
  position: relative;
  padding-top: 110px; }
  .life--num {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12rem;
    font-weight: 500;
    display: inline;
    background-image: linear-gradient(#e95c6d, #fff 80%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; }
  .life--h3 {
    font-size: 3.2rem;
    margin-bottom: 1rem; }
  .life--paragraph {
    font-size: 1.7rem;
    line-height: 1.8;
    letter-spacing: 0.5px; }

@media only screen and (max-width: 1400px) {
  .section__life {
    width: 85%; } }

@media only screen and (max-width: 1200px) {
  .section__life {
    width: 90%; }
  .life__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 6rem; } }

@media only screen and (max-width: 950px) {
  .life__container {
    width: 75%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 6rem;
    grid-template-areas: '. .'
 '. .'
 '. .'; } }

@media only screen and (max-width: 700px) {
  .life__container {
    width: 90%; }
  .life--paragraph {
    font-size: 2rem; } }

@media only screen and (max-width: 550px) {
  .life__heading {
    flex-direction: column; }
    .life__heading--h2 {
      width: 100%;
      margin-bottom: 4rem; }
    .life__heading--paragraph {
      width: 100%; }
  .life__container {
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem 0;
    grid-template-areas: '. '
 '.'
 '.'
 '.'
 '.'
 '.'; }
  .life {
    width: 100%;
    max-width: 280px; }
    .life-right {
      margin-left: auto; } }

.section__vision {
  border-top: 2px solid #a0a0a0;
  padding-top: 8rem;
  margin-bottom: 10rem;
  display: flex;
  align-items: center; }

.vision__h2 {
  font-size: 4rem;
  width: 25%; }

.vision__paragraph {
  width: 70%;
  font-size: 1.8rem;
  line-height: 1.8; }

@media only screen and (max-width: 1400px) {
  .section__vision {
    width: 85%; } }

@media only screen and (max-width: 1200px) {
  .section__vision {
    width: 90%; }
  .vision__h2 {
    margin-right: 3rem; } }

@media only screen and (max-width: 700px) {
  .section__vision {
    flex-direction: column;
    margin-bottom: 6rem; }
  .vision__h2 {
    width: 100%;
    margin: 0 0 2rem; }
  .vision__paragraph {
    width: 100%; } }

.section__values {
  border-top: 2px solid #a0a0a0;
  padding: 8rem 0 10rem; }

.values {
  margin-top: 3rem;
  display: flex; }
  .values--svg {
    width: 22%;
    min-width: 180px; }
  .values--1 {
    width: 35%; }
  .values--2 {
    width: 66%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4rem 0;
    align-items: center; }
  .values__h2 {
    font-size: 5.6rem;
    font-weight: 500;
    margin-bottom: 4rem; }
  .values__paragraph {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 1.5; }

.value {
  display: flex;
  align-items: center; }
  .value--circle {
    width: 60px;
    height: 60px;
    background-color: rgba(233, 92, 109, 0.15);
    border-radius: 50%;
    padding: 10px;
    margin-right: 30px; }
  .value__img {
    width: 100%;
    height: 100%; }
  .value__paragraph {
    font-size: 1.7rem; }

.bgBottom {
  transform: rotate(180deg);
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1; }

@media only screen and (max-width: 1400px) {
  .section__values {
    width: 85%; } }

@media only screen and (max-width: 1200px) {
  .section__values {
    width: 90%; }
  .values--2 {
    margin-left: 4%; }
  .value--circle {
    width: 50px;
    height: 50px; }
  .value__img {
    width: 110%;
    height: 110%; } }

@media only screen and (max-width: 850px) {
  .section__values {
    padding: 8rem 0 6rem; }
  .values {
    justify-content: space-between; }
    .values--1 {
      width: 45%;
      max-width: 340px; }
    .values--2 {
      width: 44%;
      margin-left: 0;
      gap: 3rem 0;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr); } }

@media only screen and (max-width: 550px) {
  .values {
    flex-direction: column; }
    .values--1 {
      width: 100%;
      max-width: 350px; }
    .values--2 {
      margin-top: 5rem;
      gap: 2rem 0;
      width: 100%; }
  .value--circle {
    width: 48px;
    height: 48px; } }

.section__counter {
  padding: 3rem 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/counter/counter-l.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 2px solid #000; }

.counters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto; }

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .counter-img {
    width: 16rem;
    margin-bottom: 1rem; }
    .counter-img-2 {
      width: 18rem; }
    .counter-img-4 {
      width: 15rem; }
  .counter-count {
    font-size: 4rem; }
  .counter-text {
    font-size: 2rem; }

@media only screen and (min-width: 1900px) {
  .section__counter {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/counter/counter-xl.webp); }
  .counters {
    width: 70%; } }

@media only screen and (max-width: 1200px) {
  .section__counter {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/counter/counter-m.webp); }
  .counters {
    width: 90%; }
  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .counter-img {
      width: 15rem; }
      .counter-img-2 {
        width: 17rem; }
      .counter-img-4 {
        width: 14rem; } }

@media only screen and (max-width: 950px) {
  .counters {
    width: 100%;
    justify-content: space-around; }
  .counter-img {
    width: 13rem; }
    .counter-img-2 {
      width: 15.6rem; }
    .counter-img-4 {
      width: 12rem; }
  .counter-count {
    font-size: 3.6rem; }
  .counter-text {
    font-size: 1.8rem; } }

@media only screen and (max-width: 700px) {
  .section__counter {
    padding: 3rem 1rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/counter/counter-s.webp); }
  .counters {
    justify-content: space-between; }
  .counter-img {
    width: 10rem; }
    .counter-img-2 {
      width: 12rem; }
    .counter-img-4 {
      width: 9rem; }
  .counter-count {
    font-size: 3rem; }
  .counter-text {
    font-size: 1.7rem; } }

@media only screen and (max-width: 550px) {
  .section__counter {
    padding: 6rem 0; }
  .counters {
    flex-wrap: wrap;
    justify-content: center; }
  .counter {
    width: 40%;
    margin: 5%; }
    .counter-img {
      width: 14rem; }
      .counter-img-2 {
        width: 16rem; }
      .counter-img-4 {
        width: 12rem; }
    .counter-count {
      font-size: 3.6rem; }
    .counter-text {
      font-size: 2.2rem; } }

@media only screen and (max-width: 550px) {
  .section__counter {
    padding: 6rem 0; }
  .counters {
    flex-wrap: wrap;
    justify-content: center; }
  .counter {
    width: 100%; } }
