@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --light-color-heading-1-1: #ec9191;
  --light-color-heading-1-2: #903131;
  --btn-background-color: #efefef;
  --btn-color: #332e2e;
  --services-head: #ababab;
  --light-hero-ovelay: rgba(0, 0, 0, 0);
  --light-background-1: #fff8f8;
  --light-background-2: #ffe6e6;
  --light-background-3: 255, 248, 248;
  --light-text-color-penta: #747474;
  --light-text-color-quad: #5f5f5f;
  --light-text-color-tertiary: #000;
  --light-text-color-secondary: #332e2e;
  --light-text-color-primary: #332e2e;
  --light-color-1: #ff0000;
  --light-color-2: #ef9595;
  --light-color-heading-2: #e95c6d;
  --light-bg-services: rgba(53, 47, 55, 0.95);
  --light-bg-service: rgba(255, 255, 255, 0.9);
  --dark-hero-ovelay: rgba(0, 0, 0, 0.3);
  --dark-background-1: #090909;
  --dark-background-2: #2c2c2c;
  --dark-text-color-penta: #b1b1b1;
  --dark-text-color-quad: #dddddd;
  --dark-text-color-tertiary: #eee;
  --dark-text-color-secondary: #fff;
  --dark-text-color-primary: #efefef;
  --dark-color-1: #eee;
  --dark-color-2: #121212e6;
  --dark-color-3: #6f6f6f;
  --dark-color-heading-2: #eee;
  --dark-bg-services: rgba(13, 13, 13, 0.8);
  --dark-bg-service: rgba(18, 18, 18, 0.8); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: "Roboto";
  scroll-behavior: smooth;
  cursor: default; }

main {
  background-color: var(--light-background-2); }

a {
  text-decoration: none; }

li {
  list-style: none; }

.section,
.section-m {
  transition: transform 0.3s ease-in; }

.section--hidden-bottom {
  opacity: 0;
  transform: translateY(6rem) !important; }

.section--hidden-right {
  opacity: 0;
  transform: translateX(-20rem) !important; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

@media only screen and (min-width: 1600px) {
  html {
    font-size: 68%; } }

@media only screen and (min-width: 1900px) {
  html {
    font-size: 72%; } }

@media only screen and (min-width: 2200px) {
  html {
    font-size: 90%; } }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 58%; } }

@media only screen and (max-width: 950px) {
  html {
    font-size: 52%; } }

@media only screen and (max-width: 700px) {
  html {
    font-size: 48%; } }

h1 {
  font-size: 10rem;
  margin-bottom: 4rem; }
  h1 span {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.4rem;
    margin-bottom: 1rem; }

@media only screen and (min-width: 1900px) {
  h1 {
    font-size: 12rem;
    margin-bottom: 6rem; }
    h1 span {
      font-size: 7rem; } }

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 9rem; }
    h1 span {
      letter-spacing: 1rem;
      font-size: 5rem;
      font-weight: 500; } }

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 11rem;
    margin-top: 10rem;
    margin-bottom: 8rem; }
    h1 span {
      font-size: 6.5rem; } }

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 9rem;
    margin-top: 10rem;
    margin-bottom: 8rem; }
    h1 span {
      font-size: 5rem; } }

.heading {
  width: 70%;
  text-align: center;
  margin: 0 auto; }
  .heading-header {
    font-size: 5rem;
    letter-spacing: 0.4rem;
    background-image: linear-gradient(to bottom, var(--light-color-heading-1-1), var(--light-color-heading-1-2));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 4rem; }

@media only screen and (min-width: 1600px) {
  .heading {
    width: 60%; } }

@media only screen and (min-width: 1900px) {
  .heading-header {
    font-size: 5.1rem; } }

@media only screen and (max-width: 1200px) {
  .heading {
    width: 80%; } }

@media only screen and (max-width: 700px) {
  .heading {
    width: 98%; } }

.heading-h3 {
  font-size: 5.1rem;
  letter-spacing: 2px;
  color: var(--light-color-heading-2); }

@media only screen and (min-width: 1900px) {
  .heading-h3 {
    font-size: 5.3rem; } }

@media only screen and (max-width: 1200px) {
  .heading-h3 {
    font-size: 4.6rem; } }

@media only screen and (max-width: 1200px) {
  .heading-h3 {
    font-size: 4.6rem; } }

@media only screen and (max-width: 850px) {
  .heading-h3 {
    font-size: 4rem; } }

@media only screen and (max-width: 700px) {
  .heading-h3 {
    font-size: 3.6rem; } }

.paragraph {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: var(--light-text-color-primary);
  line-height: 25px; }
  .paragraph-light {
    font-size: 1.4rem;
    font-weight: 300; }

@media only screen and (min-width: 1600px) {
  .paragraph {
    font-size: 1.6rem; }
    .paragraph-light {
      font-size: 1.5rem; } }

@media only screen and (min-width: 1900px) {
  .paragraph {
    font-size: 1.8rem;
    line-height: 32px; }
    .paragraph-light {
      font-size: 1.6rem; } }

@media only screen and (max-width: 1200px) {
  .paragraph {
    line-height: 24px; } }

@media only screen and (max-width: 1200px) {
  .paragraph {
    line-height: 24px; } }

.navigation {
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in; }
  .navigation__nav {
    width: 80%;
    margin: 0.5rem auto; }
  .navigation__list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .navigation__list img {
      width: 9rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    color: #fff;
    font-size: 1.8rem;
    height: 100%;
    padding: 0 4px;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s ease-in; }
  .navigation__link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    left: 0;
    bottom: -6px;
    transition: width 0.2s linear; }
  .navigation__link:hover {
    color: var(--light-color-2); }
    .navigation__link:hover::after {
      width: 100%; }

.hamburger__menu {
  display: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 2rem;
  top: 0.5rem;
  z-index: 1000; }

.happen-logo-m {
  display: none; }

.click {
  transition: transform 0.1s ease-in; }
  .click:hover {
    transform: scale(1.1); }
  .click:active {
    transform: scale(0.98); }

@media only screen and (min-width: 1600px) {
  .navigation__list img {
    width: 10rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    font-size: 2rem; } }

@media only screen and (min-width: 1900px) {
  .navigation__list img {
    width: 11rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    font-size: 2.2rem; } }

@media only screen and (max-width: 1200px) {
  .navigation__list img {
    width: 8rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    font-size: 1.6rem; } }

@media only screen and (max-width: 950px) {
  .navigation__nav {
    width: 100%; }
  .navigation__list {
    justify-content: space-evenly; }
    .navigation__list img {
      width: 7rem; } }

@media only screen and (max-width: 700px) {
  .navigation {
    background-color: #fff;
    top: 0;
    z-index: 100;
    height: 8.4rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    position: fixed; }
    .navigation__nav {
      margin: 0; }
      .navigation__nav .happen-logo-m {
        display: block;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0.4rem;
        left: 2rem;
        z-index: 1000; }
        .navigation__nav .happen-logo-m img {
          width: 18rem; }
    .navigation .hamburger__menu {
      display: block; }
    .navigation__list {
      display: flex;
      background-color: #fff;
      position: fixed;
      width: 100%;
      height: 80%;
      flex-direction: column;
      justify-content: center;
      z-index: 100;
      transform: translateY(-100%);
      transition: all 1s ease-out; }
      .navigation__list .happen-logo {
        display: none; }
    .navigation .hamburger.open {
      display: flex;
      transform: translateY(0); }
    .navigation__item.nav:not(:last-child) {
      margin-bottom: 2.4rem; }
    .navigation__link, .navigation__link:link, .navigation__link:visited {
      color: #000;
      font-size: 2.2rem; }
    .navigation__link:hover {
      color: var(--light-color-2); } }

@media only screen and (max-width: 450px) {
  .navigation {
    height: 7rem; }
    .navigation .happen-logo-m {
      left: 0.8rem; }
      .navigation .happen-logo-m img {
        width: 15rem; }
    .navigation__link, .navigation__link:link, .navigation__link:visited {
      font-size: 2.4rem; } }

.navigation.sticky {
  background-color: #fff;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25); }
  .navigation.sticky .navigation__nav {
    width: 100%;
    margin: 0 auto; }
  .navigation.sticky .navigation__list {
    width: 100%;
    justify-content: flex-end; }
    .navigation.sticky .navigation__list .happen-logo {
      margin: 0 auto 0 0;
      padding: 0.2rem 0 0 2rem;
      order: -1; }
    .navigation.sticky .navigation__list img {
      width: 6rem; }
  .navigation.sticky .navigation__item {
    margin-right: 3rem; }
  .navigation.sticky .navigation__link, .navigation.sticky .navigation__link:link, .navigation.sticky .navigation__link:visited {
    color: #000; }
  .navigation.sticky .navigation__link:hover {
    color: var(--light-color-2); }

@media only screen and (max-width: 700px) {
  .navigation.sticky {
    display: none; } }

.btn {
  border: none;
  cursor: pointer;
  background-color: transparent; }
  .btn-teams {
    width: 25rem;
    margin: 0 auto 10rem auto; }
  .btn-services {
    width: 25rem;
    margin-top: 10rem;
    margin-left: 10%; }
  .btn.arrow {
    padding: 0;
    top: 50%;
    margin-right: 1rem;
    transform: translateY(-50%) rotate(180deg);
    transition: transform 0.1s ease-in; }
    .btn.arrow.click:hover {
      transform: translateY(-50%) rotate(180deg) scale(1.05); }
    .btn.arrow.click:active {
      transform: translateY(-50%) rotate(180deg) scale(0.97); }
    .btn.arrow-left {
      transform: translateY(-50%) rotate(0);
      margin-left: 1rem; }
      .btn.arrow-left.click:hover {
        transform: translateY(-50%) rotate(0deg) scale(1.05); }
      .btn.arrow-left.click:active {
        transform: translateY(-50%) rotate(0deg) scale(0.97); }
    .btn.arrow-t {
      background-color: var(--light-color-2);
      padding: 1.4rem;
      border-radius: 50%; }
  .btn-white {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    font-size: 1.5rem;
    padding: 1.2rem 4rem;
    transition: transform 0.1s ease-in, box-shadow 0.1s ease-in; }
  .btn-round {
    border-radius: 5rem; }
  .btn.click:hover {
    transform: translateY(-2px) scale(1.01); }
  .btn.click:active {
    transform: scale(0.97); }
  .btn.shadow {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4); }
    .btn.shadow:hover {
      box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4); }

@media only screen and (min-width: 1600px) {
  .btn {
    padding: 1.5rem 5rem; }
    .btn-teams {
      width: 28rem; }
    .btn-services {
      width: 28rem; }
    .btn-white {
      font-size: 1.7rem; } }

@media only screen and (max-width: 1400px) {
  .btn-services {
    width: 20rem;
    margin-top: 6rem;
    margin-left: 8%; } }

@media only screen and (max-width: 950px) {
  .btn-white {
    font-size: 1.5rem; }
  .btn-services {
    position: absolute;
    bottom: 8rem;
    margin: 0;
    left: 50%;
    transform: translateX(-50%); }
    .btn-services.click:hover {
      transform: translateX(-50%) translateY(-2px) scale(1.01); } }

@media only screen and (max-width: 700px) {
  .btn-services {
    width: 24rem; }
  .btn-white {
    font-size: 1.6rem; }
  .btn-teams {
    margin-top: -12rem; } }

@media only screen and (max-width: 550px) {
  .btn-teams {
    margin-top: 5rem; } }

.social {
  height: 100%; }
  .social__nav {
    height: 70%; }
  .social__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2rem; }
  .social__item {
    width: 4rem; }
  .social-btn {
    display: none; }

@media only screen and (min-width: 1600px) {
  .social__item {
    width: 4.2rem; } }

@media only screen and (min-width: 1900px) {
  .social__item {
    width: 4.5rem; } }

@media only screen and (max-width: 1200px) {
  .social__item {
    width: 3.6rem; } }

@media only screen and (max-width: 700px) {
  .social {
    display: flex;
    height: auto;
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    top: 66%;
    transform: translateY(-110vh);
    transition: transform 1.05s ease-out; }
    .social__nav {
      width: 80%;
      max-width: 26rem;
      background-color: #000;
      padding: 0.5rem; }
    .social__list {
      flex-direction: row;
      margin-right: 0; }
    .social__item {
      width: 3rem; }
  .hamburger.open {
    transform: translateY(0); } }

@media only screen and (max-width: 450px) {
  .social__nav {
    max-width: 30rem; }
  .social__item {
    width: 3.6rem; } }

.social.active {
  height: 100%;
  position: relative;
  z-index: 10; }
  .social.active .social-btn {
    display: block;
    content: "";
    width: 2.5rem;
    height: 5rem;
    background-color: pink;
    position: absolute;
    top: 40%;
    left: -2.4rem;
    border-radius: 0.8rem 0 0 0.8rem;
    box-shadow: -0.6rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    .social.active .social-btn::after {
      content: "▶";
      font-size: 2.3rem;
      position: absolute;
      top: 25%;
      left: 0.3rem;
      cursor: pointer; }
  .social.active .social__nav {
    height: 50%;
    background-color: pink;
    border-radius: 0.8rem 0 0 0.8rem;
    position: fixed;
    right: 0;
    box-shadow: -0.3rem 3rem 8rem rgba(0, 0, 0, 0.25);
    transition: all 0.3s linear; }
  .social.active .social-hidden {
    transform: translateX(5rem); }
  .social.active .social__list {
    justify-content: space-around;
    margin: 0 0.4rem 0 0.6rem; }
  .social.active .social__item {
    width: 3.8rem; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 100; }

.modal {
  width: 30vw;
  height: 30vw;
  min-width: 42rem;
  min-height: 42rem;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/modal-bg.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; }

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; }

.clock {
  position: relative; }

.needle {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6vw;
  width: 2px;
  transform-origin: bottom center;
  transition: transform 0.25s ease-in;
  opacity: 0.6;
  z-index: 1000; }
  .needle.hour {
    transform: translate(-50%, -100%) rotate(0deg); }
  .needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 10vw; }

.coming {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5vw;
  letter-spacing: 12px;
  text-align: center; }

.center-point {
  background-color: #fff;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; }

.cross {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
  background-color: pink;
  color: #292929;
  border: 0;
  border-radius: 50%;
  cursor: pointer; }
  .cross:hover {
    color: pink;
    background-color: #292929;
    box-shadow: 0 12px 35px 0 rgba(41, 41, 41, 0.7);
    border: 2px solid pink; }
  .cross:active {
    transform: translateX(-50%) scale(0.9); }

.hidden {
  display: none; }

@media only screen and (min-width: 1600px) {
  .cross {
    width: 50px;
    height: 50px;
    font-size: 2rem; } }

@media only screen and (max-width: 1200px) {
  .modal {
    min-width: 36rem;
    min-height: 36rem; }
  .coming {
    font-size: 4vw; }
  .cross {
    width: 35px;
    height: 35px;
    font-size: 1.6rem; } }

@media only screen and (max-width: 700px) {
  .modal {
    min-width: 32rem;
    min-height: 32rem; }
  .needle {
    height: 5rem; }
    .needle.minute {
      height: 9rem; }
  .coming {
    font-size: 4rem; }
  .cross {
    width: 30px;
    height: 30px; } }

.dec {
  position: absolute; }
  .dec.familiar-circle {
    width: 30.5rem;
    transform: translateX(0.4rem); }
  .dec.passion-circle {
    width: 45rem;
    transform: translateX(-1rem); }
  .dec.arrow {
    right: 0; }
    .dec.arrow-left {
      left: 0; }
  .dec.arrow-t {
    right: 28%;
    width: 6rem;
    height: 6rem; }
    .dec.arrow-t img {
      width: 3.2rem; }
    .dec.arrow-t.arrow-t-left {
      left: 28%; }
  .dec.line {
    height: 100%; }
    .dec.line-1 {
      left: 12%; }
    .dec.line-2 {
      left: 75%; }
    .dec.line-3 {
      left: 85%; }
    .dec.line-4 {
      height: 2px;
      width: 80%;
      left: 8%;
      bottom: 10%; }
  .dec.circle {
    width: 22vw; }
  .dec.half-circle {
    right: 0;
    width: 18vw; }
    .dec.half-circle.half-circle-up {
      top: 0; }
    .dec.half-circle.half-circle-down {
      bottom: 0; }
  .dec.triangle {
    top: 0;
    right: 0;
    height: 100%; }

@media only screen and (min-width: 1900px) {
  .dec.familiar-circle {
    width: 34.5rem;
    transform: translateX(0.4rem); }
  .dec.passion-circle {
    width: 50rem;
    transform: translateX(-1rem); }
  .dec.circle {
    width: 24vw; }
  .dec.line-1 {
    left: 14%; }
  .dec.line-2 {
    left: 75%; }
  .dec.line-3 {
    left: 85%; }
  .dec.line-4 {
    height: 2px;
    width: 72%;
    left: 9%;
    bottom: 10%; } }

@media only screen and (max-width: 1400px) {
  .dec.arrow img {
    width: 4rem; } }

@media only screen and (max-width: 1200px) {
  .dec.passion-circle {
    width: 35vw; }
  .dec.arrow img {
    width: 3.4rem; }
  .dec.line-1 {
    left: 12%; }
  .dec.line-2 {
    left: 75%; }
  .dec.line-3 {
    left: 85%; }
  .dec.line-4 {
    width: 70%;
    left: 10%;
    bottom: 12%; }
  .dec.circle {
    width: 28rem; } }

@media only screen and (max-width: 950px) {
  .dec.passion-circle {
    width: 38rem; }
  .dec.line-1 {
    left: 8%; }
  .dec.line-4 {
    width: 76%;
    left: 5%;
    bottom: 12%; }
  .dec.triangle {
    width: 40%; } }

@media only screen and (max-width: 700px) {
  .dec.familiar-circle {
    width: 26rem; }
  .dec.passion-circle {
    width: 30rem; }
  .dec.line-1 {
    left: 4%; }
  .dec.line-2 {
    left: 85%; }
  .dec.line-3 {
    left: 96%; }
  .dec.line-4 {
    width: 90%;
    left: 2%;
    bottom: 11%; }
  .dec.circle {
    width: 36rem; }
  .dec.half-circle.half-circle-up {
    display: none; }
  .dec.half-circle.half-circle-down {
    bottom: 0; }
  .dec.triangle {
    display: none; } }

@media only screen and (max-width: 550px) {
  .dec.circle {
    width: 50vw; }
  .dec.line-4 {
    bottom: 47%; }
  .dec.half-circle-down {
    width: 35vw; } }

@media only screen and (max-width: 450px) {
  .dec.circle {
    width: 30rem;
    width: calc(60vw + 20px); }
  .dec.line-2 {
    display: none; }
  .dec.line-4 {
    width: 98%;
    left: 1%;
    top: 47%; } }

@media only screen and (max-width: 300px) {
  .dec.line {
    display: none; } }

.contact-us {
  background-color: #fff7f8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative; }
  .contact-us-1 {
    position: relative;
    width: 60%;
    z-index: 10; }
  .contact-us-2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }

.contact {
  width: 70%; }
  .contact_container {
    flex-direction: column;
    position: relative;
    margin-top: 12%; }
  .contact_head {
    display: flex;
    flex-direction: column;
    z-index: 1;
    letter-spacing: 0.02em; }
    .contact_head-p {
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 18px;
      word-spacing: 0.2rem;
      color: var(--light-text-color-quad); }
      .contact_head-p-1 {
        transform: translateY(-1rem); }
      .contact_head-p-2 {
        align-self: flex-end;
        transform: translateY(2rem); }
    .contact_head-heading {
      font-size: 6rem;
      word-spacing: 0.4rem;
      color: var(--light-color-heading-2); }

.location {
  width: 60%;
  font-size: 1.45rem;
  padding-left: 12%;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--light-text-color-primary);
  z-index: 5; }
  .location .location-info {
    margin-top: 1.6rem;
    margin-top: 6%;
    font-style: normal;
    color: var(--light-text-color-quad); }
    .location .location-info li {
      margin-bottom: 0.2rem; }
    .location .location-info a {
      color: var(--light-text-color-tertiary);
      font-weight: 300; }
  .location:not(:last-child) {
    border-bottom: 2px solid pink;
    margin-bottom: 7%;
    padding-bottom: 7%; }

@media only screen and (min-width: 1600px) {
  .contact {
    width: 70%; }
    .contact_container {
      margin-top: 12.8%; }
    .contact_head-p {
      font-size: 1.4rem; }
    .contact_head-heading {
      font-size: 6.4rem; }
  .location {
    font-size: 1.64rem; } }

@media only screen and (min-width: 1900px) {
  .contact_container {
    margin-top: 15%; }
  .contact_head-p {
    font-size: 1.6rem;
    line-height: 1.2; }
    .contact_head-p-1 {
      transform: translateY(-1rem) translateX(-3rem); }
    .contact_head-p-2 {
      transform: translateY(2rem) translateX(6rem); }
  .contact_head-heading {
    font-size: 8rem; }
  .location {
    font-size: 1.8rem;
    line-height: 1.4; } }

@media only screen and (max-width: 1200px) {
  .contact_head-p-1 {
    transform: translate(-3rem, -1rem); }
  .contact_head-p-2 {
    transform: translate(6rem, 2rem); }
  .contact_head-heading {
    font-size: 5.2rem; } }

@media only screen and (max-width: 950px) {
  .contact_container {
    margin-top: 14%; }
  .contact_head-p {
    font-size: 1.25rem; }
    .contact_head-p-1 {
      transform: translate(0, -1rem); }
    .contact_head-p-2 {
      transform: translate(0, 2rem); }
  .contact_head-heading {
    font-size: 5rem; }
  .location {
    width: 70%;
    max-width: 200px; } }

@media only screen and (max-width: 700px) {
  .contact-us {
    flex-direction: column; }
    .contact-us-1, .contact-us-2 {
      width: 100%; }
    .contact-us-2 {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 8% 0; }
  .contact {
    width: 100%; }
    .contact_container {
      transform: translateX(-4rem); }
    .contact_head-p {
      font-size: 1.6rem; }
      .contact_head-p-1 {
        transform: translate(-4rem, -1rem); }
      .contact_head-p-2 {
        transform: translate(5rem, 2rem); }
    .contact_head-heading {
      font-size: 9vw; }
  .location {
    padding: 2rem 4rem;
    max-width: none;
    width: auto; }
    .location:not(:last-child) {
      margin: 0;
      padding: 2rem 4rem;
      border-bottom: 0;
      border-right: 2px solid pink; } }

@media only screen and (max-width: 550px) {
  .contact-us-1 {
    position: static; }
  .contact-us-2 {
    flex-direction: column;
    margin: 0 0 4rem;
    text-align: center; }
  .contact_container {
    transform: translateX(0rem); }
  .contact_head-p {
    font-size: 1.5rem;
    text-align: center; }
    .contact_head-p-1 {
      transform: translate(0, -2rem); }
    .contact_head-p-2 {
      transform: translate(0, 2rem);
      align-self: center; }
  .contact_head-heading {
    font-size: 11vw;
    text-align: center; }
  .location {
    padding: 4rem 0;
    max-width: 220px;
    width: 100%;
    font-size: 1.72rem; }
    .location strong {
      font-size: 1.9rem; }
    .location:not(:last-child) {
      padding: 4rem 0;
      border-bottom: 2px solid pink;
      border-right: 0; } }

@media only screen and (max-width: 450px) {
  .contact_head-p {
    word-spacing: 0;
    font-size: 1.35rem;
    font-size: calc(1.2vw + 7px); }
  .contact_head-heading {
    font-size: 5.5rem;
    font-size: calc(10vw + 10px); }
  .location {
    padding: 6rem 0; }
    .location:not(:last-child) {
      padding: 6rem 0; } }

.section__header {
  background-image: url(../images/HeroImage.png), linear-gradient(to bottom left, #bc9590 0%, #e2c3bc);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%; }
  .header__container {
    width: 40%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2); }

@media only screen and (max-width: 1200px) {
  .header__container {
    width: 45%; } }

@media only screen and (max-width: 950px) {
  .header__container {
    width: 50%; } }

@media only screen and (max-width: 700px) {
  .header__container {
    width: 100%; }
    .header__container button {
      font-size: 1.6rem; } }

.about-us {
  background-color: var(--light-background-1);
  padding-bottom: 100px;
  clip-path: polygon(100% 0, 100% 88%, 50% 100%, 0 88%, 0 0); }
  .about-us__header {
    padding-top: 8rem;
    margin-bottom: 16rem; }

.know-us-better {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 5; }
  .know-us-better-heading {
    display: flex; }
    .know-us-better-heading-2 {
      justify-content: flex-end; }
  .know-us-better-container h3 {
    width: 28rem;
    z-index: 5;
    letter-spacing: 5px; }
  .know-us-better-container span {
    display: block;
    text-align: right; }
  .know-us-better-container .passion {
    width: 54rem;
    margin: 5rem 0; }
    .know-us-better-container .passion span {
      text-align: left; }
  .know-us-better-about {
    width: 92%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    margin: 5rem 0;
    z-index: 5; }
    .know-us-better-about h4 {
      font-size: 3.4rem;
      text-align: right; }
    .know-us-better-about p {
      flex-basis: 78%;
      padding: 1.5rem 5% 1.5rem 0;
      border-right: 1px solid var(--light-text-color-primary); }
    .know-us-better-about-2 {
      flex-direction: row;
      margin-left: auto; }
      .know-us-better-about-2 p {
        border-right: 0;
        border-left: 1px solid var(--light-text-color-primary);
        padding: 1rem 0 1rem 6%; }

@media only screen and (min-width: 1600px) {
  .know-us-better {
    width: 85%; }
    .know-us-better-2 {
      margin-bottom: 2rem; }
    .know-us-better-about h4 {
      font-size: 3.6rem;
      text-align: right; } }

@media only screen and (min-width: 1900px) {
  .know-us-better {
    width: 88%; }
    .know-us-better-2 {
      margin-bottom: 6rem; }
    .know-us-better-container h3 {
      width: 40rem; }
    .know-us-better-container .passion {
      margin: 6rem 0;
      width: 56rem; }
    .know-us-better-about h4 {
      font-size: 3.8rem;
      text-align: right; } }

@media only screen and (max-width: 1200px) {
  .know-us-better {
    width: 97%; }
    .know-us-better-container h3 {
      letter-spacing: 4px; }
    .know-us-better-container .passion {
      width: auto; }
    .know-us-better-about {
      width: 100%;
      justify-content: flex-start; }
      .know-us-better-about h4 {
        padding: 0 0 0 2%; }
      .know-us-better-about p {
        flex-grow: 1;
        padding: 1rem 2% 1rem 0; }
      .know-us-better-about-2 {
        margin-left: 0; }
        .know-us-better-about-2 h4 {
          padding: 0 2% 0 0; }
        .know-us-better-about-2 p {
          padding: 1rem 0 1rem 2%; } }

@media only screen and (max-width: 850px) {
  .about-us__header {
    margin-bottom: 12rem; }
  .know-us-better .passion span {
    text-align: right; }
  .know-us-better-about {
    flex-direction: column;
    padding: 0 5rem; }
    .know-us-better-about h4 {
      font-size: 3.4rem;
      text-align: right;
      border-bottom: 1px solid var(--light-text-color-secondary);
      padding: 0 0 0 1rem;
      margin-left: auto; }
    .know-us-better-about p {
      padding: 1rem 0 0 0;
      border: 0;
      font-size: 1.5rem; }
    .know-us-better-about-2 {
      flex-direction: column; }
      .know-us-better-about-2 h4 {
        margin-right: auto;
        margin-left: 0; }
      .know-us-better-about-2 p {
        border-right: 0;
        padding: 1rem 0 1rem 0; } }

@media only screen and (max-width: 550px) {
  .about-us__header {
    margin-bottom: 12rem; }
  .know-us-better-heading {
    justify-content: center; }
  .know-us-better .passion {
    margin: 0;
    text-align: center; }
    .know-us-better .passion span {
      display: inline; }
  .know-us-better-about {
    padding: 0 1rem;
    margin: 11.5rem 0 16rem;
    text-align: center; }
    .know-us-better-about-2 {
      margin: 13.2rem 0 9rem; }
    .know-us-better-about h4 {
      margin: 0 auto; } }

@media only screen and (max-width: 450px) {
  .about-us__header {
    margin-bottom: 16rem; }
  -about {
    margin: 9rem 0 18rem; } }

.section__services {
  display: flex;
  background-image: url(../images/services/services-bg-l.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .section__services-1 {
    width: 40%;
    background-color: var(--light-bg-services);
    padding: 16rem 0 0; }
  .section__services-2 {
    width: 60%;
    padding: 10rem 0; }

.services__heading {
  text-align: left;
  width: 55%;
  margin-left: 10%; }
  .services__heading h2 {
    color: #fff; }
    .services__heading h2 span {
      display: block;
      color: var(--services-head); }
  .services__heading p {
    color: #efefef;
    text-align: justify;
    position: relative;
    padding-bottom: 4rem; }
    .services__heading p::after {
      content: "";
      width: 80px;
      height: 3px;
      background-color: #efefef;
      position: absolute;
      bottom: 0;
      left: 0; }

.services {
  background-image: linear-gradient(var(--light-bg-service), var(--light-bg-service)), url(../images/services/service-bg-l.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 110%;
  left: -15%;
  padding: 5rem 10rem;
  overflow: hidden; }

.grid {
  overflow: hidden; }

.grid-container {
  display: grid;
  grid-template-columns: 45% 45% 45% 45%;
  grid-template-rows: 1fr 1fr;
  gap: 4% 10%;
  grid-template-areas: ". . . ." ". . . .";
  transform: translateX(0);
  transition: transform 0.5s ease-in; }

.service {
  display: flex;
  flex-direction: column; }
  .service-img {
    width: 70px;
    margin-bottom: 1.5rem; }
  .service-head {
    font-size: 15px;
    position: relative;
    padding-bottom: 1rem;
    color: var(--light-text-color-tertiary); }
    .service-head::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: var(--light-color-heading-2);
      bottom: 0;
      left: 0; }
  .service-paragraph {
    letter-spacing: 1px;
    margin-top: 2rem;
    padding-bottom: 3rem; }

@media only screen and (min-width: 1600px) {
  .services {
    width: 105%;
    left: -12%; } }

@media only screen and (min-width: 1900px) {
  .section__services {
    background-image: url(../images/services/services-bg-xl.jpg); }
  .services {
    background-image: linear-gradient(var(--light-bg-service), var(--light-bg-service)), url(../images/services/service-bg-xl.jpg); }
  .service-img {
    width: 90px;
    margin-bottom: 1.9rem; }
  .service-head {
    font-size: 22px; }
    .service-head::after {
      height: 3.4px;
      width: 80px; } }

@media only screen and (min-width: 2200px) {
  .service-img {
    width: 110px;
    margin-bottom: 2rem; } }

@media only screen and (max-width: 1400px) {
  .section__services-1 {
    width: 38%;
    padding: 14rem 0 0; }
  .section__services-2 {
    width: 62%;
    padding: 8rem 0; }
  .services__heading {
    margin-left: 8%; }
  .services {
    padding: 4rem 7rem; }
  .service-img {
    width: 60px; } }

@media only screen and (max-width: 1200px) {
  .section__services {
    background-image: url(../images/services/services-bg-m.jpg); }
    .section__services-1 {
      width: 40%;
      background-color: var(--light-bg-services);
      padding: 6rem 0 0; }
    .section__services-2 {
      width: 60%;
      padding: 4rem 0; }
  .services__heading {
    width: 50%; }
    .services__heading h2 {
      font-size: 4.4rem; }
  .services {
    background-image: linear-gradient(var(--light-bg-service), var(--light-bg-service)), url(../images/services/service-bg-m.jpg);
    width: 115%;
    padding: 2rem 6rem;
    left: -20%; }
  .service-paragraph {
    margin-top: 1rem;
    padding-bottom: 1rem; } }

@media only screen and (max-width: 950px) {
  .section__services {
    flex-direction: column; }
    .section__services-1 {
      width: 100%;
      padding: 0 0 4rem; }
      .section__services-1 p {
        font-size: 1.5rem; }
    .section__services-2 {
      width: 100%;
      padding: 0; }
  .services__heading {
    width: 80%;
    margin: 0 auto;
    padding: 8rem 0 4rem 0;
    text-align: center; }
    .services__heading h2 span {
      display: inline; }
    .services__heading p {
      text-align: center;
      padding-bottom: 2rem; }
      .services__heading p::after {
        transform: translateX(-50%);
        left: 50%;
        width: 10rem; }
  .services {
    width: 100%;
    padding: 4rem 6rem;
    left: 0;
    margin-bottom: 20rem; } }

@media only screen and (max-width: 700px) {
  .section__services {
    background-image: url(../images/services/services-bg-s.jpg); }
  .services {
    background-image: linear-gradient(var(--light-bg-service), var(--light-bg-service)), url(../images/services/service-bg-s.jpg); }
  .services__heading {
    width: 95%; }
  .service-paragraph {
    font-size: 1.5rem;
    padding-bottom: 2rem; } }

@media only screen and (max-width: 550px) {
  .grid-container {
    grid-template-columns: 100% 100% 100% 100%; } }

.section-our-teams {
  background: url(../svg/teams/teamsWaves.svg) no-repeat bottom; }

.our-teams__header {
  margin: 6rem auto 10rem; }

.cards-container {
  flex-direction: column;
  width: 80%;
  margin: 0 auto; }
  .cards-container h3 {
    font-size: 4rem;
    align-self: flex-start;
    margin-bottom: 6rem; }

.cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 12rem; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 32rem;
  width: 22vw;
  max-height: 42rem;
  height: 26vw;
  position: relative;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5); }
  .card:nth-child(odd) {
    transform: translateY(3rem); }
  .card-bg {
    height: 30%;
    width: 100%;
    background: url(../images/teams/CardBackground.png) no-repeat;
    background-size: cover; }
  .card-team-photo {
    height: 10vw;
    max-height: 14rem;
    width: 10vw;
    max-width: 14rem;
    position: absolute;
    top: 6%;
    border-radius: 50%;
    background-color: grey; }
  .card-detail {
    width: 100%;
    height: 55%;
    flex-direction: column;
    background-color: #3c3c3c;
    top: 50%;
    text-align: center; }
    .card-detail h4 {
      font-size: 1.8rem;
      margin-bottom: 1rem; }
    .card-detail p {
      font-size: 1.5rem;
      font-weight: 100; }
  .card-follow {
    position: absolute;
    bottom: 18%; }
  .card-social {
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 0;
    background-color: #dddddd; }
    .card-social ul {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .card-social ul li {
        margin: 0 2rem;
        width: 4rem; }
        .card-social ul li img {
          -webkit-filter: drop-shadow(5px 5px 5px #222);
          filter: drop-shadow(0 0 8px #5a5a5a); }

@media only screen and (min-width: 1600px) {
  .cards-container {
    width: 75%; }
  .cards {
    margin-bottom: 12rem; }
  .card {
    max-height: 42rem;
    max-width: 34rem; }
    .card-team-photo {
      max-height: 15rem;
      max-width: 15rem; }
    .card .card-detail h4 {
      font-size: 1.9rem; }
    .card .card-detail p {
      font-size: 1.6rem; }
    .card-social ul li {
      width: 3vw; } }

@media only screen and (min-width: 1900px) {
  .our-teams__header {
    width: 60%;
    margin: 6rem auto 10rem; }
  .cards-container {
    width: 75%;
    max-width: 1700px; }
    .cards-container h3 {
      font-size: 4.2rem;
      margin-bottom: 6rem; }
  .cards {
    margin-bottom: 14rem; }
  .card {
    width: 21vw;
    height: 26vw;
    max-width: 420px;
    max-height: 540px; }
    .card-team-photo {
      height: 10vw;
      width: 10vw;
      max-width: 190px;
      max-height: 190px; }
    .card-social ul li {
      width: 2.7vw;
      max-width: 58px; } }

@media only screen and (min-width: 2200px) {
  .card {
    max-width: 450px;
    max-height: 550px; }
    .card-team-photo {
      max-width: 200px;
      max-height: 200px; }
    .card-social ul li {
      width: 2.8vw;
      max-width: 65px; } }

@media only screen and (max-width: 1200px) {
  .section-our-teams {
    background: url(../svg/teams/teamsWaves-m.svg) no-repeat bottom; }
  .our-teams__header {
    margin: 5rem auto 8rem; }
  .cards-container {
    width: 85%; }
    .cards-container h3 {
      font-size: 3.6rem; }
  .card {
    width: 30%;
    max-width: 30rem;
    height: 36rem; }
    .card-team-photo {
      height: 11vw;
      min-height: 12.5rem;
      width: 11vw;
      min-width: 12.5rem; } }

@media only screen and (max-width: 950px) {
  .cards-container {
    width: 98%; }
  .card {
    width: 30rem;
    max-width: 32%;
    height: 38rem; }
    .card-team-photo {
      height: 11vw;
      min-height: 13rem;
      width: 11vw;
      min-width: 13rem; } }

@media only screen and (max-width: 700px) {
  .section-our-teams {
    background: url(../svg/teams/teamsWaves-s.svg) no-repeat bottom; }
  .our-teams__header {
    margin: 6rem auto 6rem; }
  .cards {
    width: 92%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; }
  .card {
    width: 50%;
    max-width: 30rem;
    height: 38rem; }
    .card:nth-child(even) {
      margin-right: auto;
      transform: translateY(-30%); }
    .card:nth-child(odd) {
      margin-left: auto; }
    .card:last-child {
      transform: translateY(-60%); }
    .card-team-photo {
      min-height: 14rem;
      min-width: 14rem;
      top: 8%; }
  .cards-container {
    width: 95%; }
    .cards-container h3 {
      font-size: 3.2rem; } }

@media only screen and (max-width: 550px) {
  .section-our-teams {
    background: url(../svg/teams/teamsWaves-ss.svg) no-repeat bottom; }
  .cards {
    width: 95%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; }
  .card {
    width: 95%;
    max-width: 32rem;
    height: 40rem; }
    .card:nth-child(even) {
      order: -1;
      margin: 2rem auto 6rem;
      transform: translateY(0); }
    .card:nth-child(odd) {
      margin: 0 auto 6rem;
      transform: translateY(0); }
  .cards-container {
    width: 98%; }
    .cards-container h3 {
      margin: 0 auto 4rem;
      font-size: 2.8rem;
      text-align: center; } }

.section-testimonials {
  background-image: url(../../img/testimonials/testi-l.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 8rem 0;
  display: flex; }

.testimonials-container {
  background-color: rgba(var(--light-background-3), 0.8);
  width: 85%;
  padding: 4rem; }

.testimonials-heading {
  margin-bottom: 12rem;
  letter-spacing: 3px; }
  .testimonials-heading strong {
    color: var(--light-color-1);
    font-size: 1.6rem; }
  .testimonials-heading h2 {
    font-size: 4rem;
    padding: 2rem 0;
    color: var(--light-color-2);
    position: relative; }
    .testimonials-heading h2::after {
      content: "";
      position: absolute;
      width: 10%;
      height: 5px;
      background-color: var(--light-color-heading-2);
      bottom: 0;
      left: 45%; }

.testimonials {
  display: flex;
  justify-content: space-around;
  position: relative; }

.testimonial {
  position: relative;
  width: 28%;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0 30px; }
  .testimonial .testimonial-photo {
    background-color: antiquewhite;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20%;
    left: 50%;
    transform: translateX(-50%); }
    .testimonial .testimonial-photo::after {
      content: "";
      width: 147px;
      height: 147px;
      border-radius: 50%;
      border: 3px solid #000;
      position: absolute; }
  .testimonial .testimonial-head {
    font-size: 1.8rem;
    transform: translateY(-3rem);
    margin-bottom: 1rem; }
  .testimonial .testimonial-detail {
    letter-spacing: 1px;
    margin-bottom: 1rem; }

.form {
  margin-top: 18%; }
  .form-control {
    width: 42%;
    margin: 0 auto;
    position: relative;
    transform: translateX(5.5rem); }
    .form-control:not(:last-child) {
      margin-bottom: 4rem; }
    .form-control label {
      position: absolute;
      font-size: 1.6rem;
      padding-bottom: 1rem;
      top: 0.6rem; }
      .form-control label span {
        font-size: 18px;
        display: inline-block;
        min-width: 5px;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .form-control input {
      display: block;
      width: 100%;
      padding: 0.6rem 0;
      font-size: 1.6rem;
      background-color: transparent;
      border: 0;
      border-bottom: 3px solid var(--light-text-color-primary);
      transition: border 0.3s; }
      .form-control input:focus {
        outline: none; }
      .form-control input:invalid {
        outline: none;
        border-bottom: 3px solid #ee4545; }
      .form-control input:valid {
        border-bottom: 3px solid limegreen; }
      .form-control input:focus + label span,
      .form-control input:valid + label span {
        transform: translateY(-30px); }
      .form-control input:focus + label span {
        color: #ee4545; }
      .form-control input:valid + label span {
        color: var(--light-text-color-primary); }
    .form-control .form-btn {
      width: 100%;
      margin: 6rem 0;
      padding: 1.6rem 0;
      background-color: #000;
      color: #fff;
      border: 0; }

@media only screen and (min-width: 1600px) {
  .form-control:not(:last-child) {
    margin-bottom: 4.2rem; }
  .form-control label {
    font-size: 1.7rem; }
  .form-control input {
    font-size: 1.7rem; }
  .form-control .form-btn {
    font-size: 1.6rem; } }

@media only screen and (min-width: 1900px) {
  .form-control {
    width: 48%; }
    .form-control:not(:last-child) {
      margin-bottom: 4.8rem; }
    .form-control label {
      font-size: 1.9rem; }
    .form-control input {
      font-size: 1.9rem; }
    .form-control .form-btn {
      margin-top: 8rem;
      font-size: 1.7rem; } }

@media only screen and (min-width: 2200px) {
  .form {
    margin-top: 22%; } }

@media only screen and (max-width: 1200px) {
  .form-control {
    min-width: 220px; }
    .form-control:not(:last-child) {
      margin-bottom: 4.2rem; }
  .form .form-btn {
    margin-top: 6rem; } }

@media only screen and (max-width: 950px) {
  .form-control {
    width: 55%;
    min-width: 200px;
    margin-left: 15%; }
    .form-control:not(:last-child) {
      margin-bottom: 4rem; }
  .form .form-btn {
    margin: 6rem 0; } }

@media only screen and (max-width: 700px) {
  .form-control {
    width: 45%;
    margin: 0 auto;
    transform: translateX(0); }
    .form-control label span {
      font-size: 2.2rem; }
    .form-control input {
      padding-bottom: 1rem;
      font-size: 2rem; }
    .form-control:not(:last-child) {
      margin-bottom: 7rem; }
  .form .form-btn {
    margin: 8rem 0 7rem; } }

@media only screen and (max-width: 450px) {
  .form {
    margin-top: 20%; }
    .form-control label span {
      font-size: 2rem; } }

.section__counter {
  padding: 3rem 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/counter/counter-l.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.counters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto; }

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .counter-img {
    width: 16rem;
    margin-bottom: 1rem; }
    .counter-img-2 {
      width: 18rem; }
    .counter-img-4 {
      width: 15rem; }
  .counter-count {
    font-size: 4rem; }
  .counter-text {
    font-size: 2rem; }

@media only screen and (min-width: 1900px) {
  .section__counter {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/counter/counter-xl.jpg); }
  .counters {
    width: 70%; } }

@media only screen and (max-width: 1200px) {
  .section__counter {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/counter/counter-m.jpg); }
  .counters {
    width: 90%; }
  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .counter-img {
      width: 15rem; }
      .counter-img-2 {
        width: 17rem; }
      .counter-img-4 {
        width: 14rem; } }

@media only screen and (max-width: 950px) {
  .counters {
    width: 100%;
    justify-content: space-around; }
  .counter-img {
    width: 13rem; }
    .counter-img-2 {
      width: 15.6rem; }
    .counter-img-4 {
      width: 12rem; }
  .counter-count {
    font-size: 3.6rem; }
  .counter-text {
    font-size: 1.8rem; } }

@media only screen and (max-width: 700px) {
  .section__counter {
    padding: 3rem 1rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/counter/counter-s.jpg); }
  .counters {
    justify-content: space-between; }
  .counter-img {
    width: 10rem; }
    .counter-img-2 {
      width: 12rem; }
    .counter-img-4 {
      width: 9rem; }
  .counter-count {
    font-size: 3rem; }
  .counter-text {
    font-size: 1.7rem; } }

@media only screen and (max-width: 550px) {
  .section__counter {
    padding: 6rem 0; }
  .counters {
    flex-wrap: wrap;
    justify-content: center; }
  .counter {
    width: 100%; }
    .counter:not(:last-child) {
      margin-bottom: 8rem; }
    .counter-img {
      width: 14rem; }
      .counter-img-2 {
        width: 16rem; }
      .counter-img-4 {
        width: 12rem; }
    .counter-count {
      font-size: 3.6rem; }
    .counter-text {
      font-size: 1.9rem; } }

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: var(--light-text-color-primary);
  background-color: var(--light-background-2);
  padding: 0px 20px; }
  .footer__container {
    flex: 1 1 475px;
    padding: 30px 20px; }
    .footer__container:first-of-type {
      margin: 0px 20px 0px 0px; }
  .footer__form {
    display: flex;
    flex-flow: column;
    width: 100%; }
  .footer__contact {
    display: flex;
    width: 100%;
    justify-content: space-between; }

.container__title {
  font-size: 4.2rem;
  margin: 0px 0px 20px; }

.social-media {
  display: flex;
  align-items: center; }
  .social-media__link {
    width: 100%;
    max-width: 40px;
    margin: 0px 10px 0px 0px; }

.menu {
  margin: 40px 0px;
  padding: 25px 0px;
  border-top: 1px var(--light-text-color-primary) solid;
  border-bottom: 1px var(--light-text-color-primary) solid; }
  .menu__link {
    font-size: 2rem;
    padding: 10px 0px; }
    .menu__link a {
      color: var(--light-text-color-secondary); }

.contact__address {
  width: 50%;
  padding-right: 20px; }

.f-form__grp {
  display: flex;
  justify-content: space-between; }

.f-form__bttn {
  width: 100px;
  height: 50px;
  margin: 30px 0px 0px; }

.f-form__grp .input-label {
  width: 45%; }

.input-label {
  position: relative;
  margin-bottom: 35px; }
  .input-label label {
    color: black;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem; }
  .input-label input {
    width: 100%;
    height: 50px; }

.textarea-label {
  position: relative; }
  .textarea-label label {
    color: black;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 1.4rem; }
  .textarea-label textarea {
    width: 100%;
    height: 200px; }

.copyright {
  width: 100%;
  text-align: center;
  font-size: 2.1rem;
  margin: 30px 0; }
