* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: cursive; }

.section__header-1 {
  background-image: url(../../img/header-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100vh; }

.section__header-2 {
  background-image: url(../../img/header-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  background-color: #aaaaaa;
  position: relative; }

.head__container {
  height: 100vh; }

.aside__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  top: 22rem; }
  .aside__main__quote {
    font-family: cursive;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.9); }
    .aside__main__quote--1 {
      margin-left: 4rem;
      transform: rotate(180deg); }
    .aside__main__quote--2 {
      margin-right: 4rem; }

.head__nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.8s;
  padding: 5rem 0;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .head__nav:hover {
    background-color: rgba(0, 0, 0, 0.4); }
  .head__nav img {
    width: 8rem;
    margin: 3rem; }
  .head__nav--element {
    padding: 1rem 0;
    transition: transform 0.5s; }
    .head__nav--element.left:nth-of-type(n) {
      margin-right: 2rem; }
    .head__nav--element.right:nth-of-type(n) {
      margin-left: 2rem; }
    .head__nav--element:hover {
      transform: translateY(-0.4rem); }
    .head__nav--element--link, .head__nav--element--link:link, .head__nav--element--link:visited {
      text-decoration: none;
      padding: 1rem 2rem;
      cursor: pointer;
      color: #fff;
      border-bottom: 2px solid transparent;
      font-size: 1.7rem; }
    .head__nav--element--link::after, .head__nav--element--link::before {
      content: "";
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px; }
    .head__nav--element--link::after {
      bottom: 0;
      right: 0;
      border-color: transparent; }
    .head__nav--element--link::before {
      top: 0;
      left: 0;
      border-color: transparent; }
    .head__nav--element--link:hover::after, .head__nav--element--link:hover::before {
      border-color: #fff;
      width: 100%;
      height: 100%; }
    .head__nav--element--link:focus, .head__nav--element--link:active {
      outline: none;
      background-color: rgba(0, 0, 0, 0.6);
      border: 2px solid #fff; }

.section__online__offline {
  height: 100vh; }
