@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --light-color-heading-1-1: #ec9191;
  --light-color-heading-1-2: #903131;
  --btn-background-color: #efefef;
  --btn-color: #332e2e;
  --light-hero-ovelay: rgba(0, 0, 0, 0);
  --light-background-1: #fff8f8;
  --light-background-2: #ffe6e6;
  --light-text-color-penta: #747474;
  --light-text-color-quad: #5F5F5F;
  --light-text-color-tertiary: #000;
  --light-text-color-secondary: #332e2e;
  --light-text-color-primary: #332e2e;
  --light-color-1: #ff0000;
  --light-color-2: #ef9595;
  --light-color-heading-2: #e95c6d;
  --light-bg-services: rgba(53, 47, 55, 0.949);
  --light-bg-service: rgba(255, 255, 255, 0.9);
  --dark-hero-ovelay: rgba(0, 0, 0, 0.3);
  --dark-background-1: #090909;
  --dark-background-2: #2c2c2c;
  --dark-text-color-penta: #B1B1B1;
  --dark-text-color-quad: #DDDDDD;
  --dark-text-color-tertiary: #eee;
  --dark-text-color-secondary: #fff;
  --dark-text-color-primary: #efefef;
  --dark-color-1: #eee;
  --dark-color-2: #121212e6;
  --dark-color-3: #6f6f6f;
  --dark-color-heading-2: #eee;
  --dark-bg-services: rgba(13, 13, 13, 0.8);
  --dark-bg-service: rgba(18, 18, 18, 0.8); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Roboto'; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.heading {
  width: 60%;
  text-align: center;
  margin: 0 auto; }
  .heading-header {
    font-size: 5rem;
    letter-spacing: 0.4rem;
    background-image: linear-gradient(to bottom, var(--light-color-heading-1-1), var(--light-color-heading-1-2));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 2rem; }

.heading-h3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  color: var(--light-color-heading-2); }

.paragraph {
  font-size: 1.35rem;
  letter-spacing: 0.2rem;
  line-height: 1.6;
  color: var(--light-text-color-primary);
  font-size: 13.5px;
  font-weight: 400; }
  .paragraph-light {
    font-weight: 300; }

.btn {
  border: none;
  padding: 1.4rem 5rem;
  cursor: pointer; }
  .btn-white {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    font-size: 1.6rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.1s ease-in, box-shadow 0.1s ease-in; }
  .btn-round {
    border-radius: 5rem; }
  .btn:hover {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4); }
  .btn:active {
    transform: scale(0.97); }

.navigation {
  width: 100%;
  height: 15%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4); }
  .navigation__nav {
    width: 80%;
    margin: 0 auto; }
  .navigation__list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .navigation__list img {
      width: 9rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    color: #fff;
    font-size: 1.8rem;
    height: 100%;
    padding: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease-in; }
  .navigation__link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    bottom: -6px;
    transition: width 0.2s linear; }
  .navigation__link:hover {
    color: var(--light-color-2); }
    .navigation__link:hover::after {
      width: 100%; }
  .navigation__link:active {
    transform: scale(0.98); }

.contact-us {
  background-color: #fff7f8;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative; }
  .contact-us-1 {
    position: relative;
    width: 60%; }
  .contact-us-2 {
    background: url(/svg/ContactTri.svg) no-repeat left;
    background-size: cover;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }

.contact {
  width: 70%; }
  .contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 7.2rem; }

.contact_head {
  display: flex;
  flex-direction: column;
  z-index: 1;
  letter-spacing: 0.02em; }
  .contact_head-p {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 18px;
    word-spacing: 0.2rem; }
    .contact_head-p-1 {
      transform: translateY(-1rem); }
    .contact_head-p-2 {
      align-self: flex-end;
      transform: translateY(2rem); }
  .contact_head-heading {
    font-size: 4vw;
    word-spacing: 0.4rem; }

.form {
  margin-top: 8rem; }
  .form-control {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    position: relative;
    transform: translateX(5.5rem); }
    .form-control:not(:last-child) {
      margin-bottom: 4rem; }
    .form-control label {
      position: absolute;
      font-size: 1.6rem;
      padding-bottom: 1rem;
      top: 0.6rem; }
    .form-control input {
      display: block;
      width: 100%;
      padding: 0.6rem 0;
      font-size: 1.6rem;
      background-color: transparent;
      border: 0;
      border-bottom: 3px solid #000; }
    .form-control .form-btn {
      width: 100%;
      margin-top: 6rem;
      padding: 1.6rem 0;
      background-color: #000;
      color: #fff;
      border: 0; }

.location {
  width: 60%;
  font-size: 1.45rem;
  padding-left: 12%;
  line-height: 2rem;
  letter-spacing: 0.02em; }
  .location .location-info {
    margin-top: 1.6rem;
    font-style: normal; }
  .location:not(:last-child) {
    border-bottom: 2px solid pink;
    margin-bottom: 4rem;
    padding-bottom: 4rem; }

.dec {
  position: absolute; }
  .dec.line {
    height: 100%; }
    .dec.line-1 {
      left: 16.5%; }
    .dec.line-2 {
      left: 75%; }
    .dec.line-3 {
      left: 85%; }
    .dec.line-4 {
      height: 2px;
      width: 70%;
      left: 12%;
      bottom: 10%; }
  .dec.circle {
    width: 22vw; }
  .dec.half-circle {
    right: 0;
    width: 18vw; }
    .dec.half-circle.half-circle-up {
      top: 0; }
    .dec.half-circle.half-circle-down {
      bottom: 0; }

.section__header {
  background-image: url(../../images/HeroImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  height: 100vh; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85%; }
  .header__container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2); }
    .header__container h1 {
      font-size: 11rem;
      margin-bottom: 4rem; }
      .header__container h1 span {
        display: block;
        font-size: 7rem;
        font-weight: 400;
        letter-spacing: 1.4rem;
        margin-bottom: 1rem; }

.about-us__header {
  margin-bottom: 10rem; }

.know-us-better {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative; }
  .know-us-better .know-us-better-heading {
    display: flex; }
    .know-us-better .know-us-better-heading-2 {
      justify-content: flex-end; }
  .know-us-better .know-us-better-container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0; }
    .know-us-better .know-us-better-container h3 {
      width: 25rem; }
    .know-us-better .know-us-better-container span {
      display: block;
      text-align: right; }
  .know-us-better-about {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    margin: 5rem 0; }
    .know-us-better-about h4 {
      font-size: 3rem;
      text-align: right; }
    .know-us-better-about p {
      flex-basis: 81%;
      padding: 1rem 6% 1rem 0;
      border-right: 1px solid var(--light-text-color-primary); }
    .know-us-better-about-2 {
      flex-direction: row; }
      .know-us-better-about-2 p {
        border-right: 0;
        border-left: 1px solid var(--light-text-color-primary);
        padding: 1rem 0 1rem 6%; }

.dec.familiar-circle {
  width: 28rem;
  transform: translateX(0.3rem);
  z-index: -1; }

.catch-1 {
  background: url(../../svg/familiarCircle.svg) no-repeat center;
  background-size: 280px;
  height: 280px;
  width: 280px;
  margin-bottom: -60px; }
  .catch-1 h3 {
    left: 5px;
    width: 260px; }
    .catch-1 h3 span {
      display: block;
      text-align: right; }

.catch-2 {
  background: url(../../svg/passionCircle.svg) no-repeat center;
  background-size: 390px;
  height: 390px;
  width: 390px;
  margin-left: auto; }
  .catch-2 h3 {
    font-size: 4.6rem;
    width: 450px;
    left: -15px; }
    .catch-2 h3 span {
      display: block; }

.ques-1 {
  flex-direction: row-reverse; }
  .ques-1 p {
    border-right: 1px solid black; }

.ques-2 {
  margin-top: -100px; }
  .ques-2 p {
    border-left: 1px solid black; }

.section-our-teams {
  background-image: url(/images/teamWaves.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 40%; }

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto; }
  .cards-container h3 {
    font-size: 4rem;
    align-self: flex-start; }

.cards {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 40rem;
  position: relative;
  background-color: #000;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 2rem;
  overflow: hidden; }
  .card-bg {
    height: 25%;
    width: 100%;
    background-color: aqua; }
  .card-team-photo {
    height: 10vw;
    width: 10vw;
    position: absolute;
    top: 6%;
    border-radius: 50%;
    background-color: grey; }
  .card .card-detail {
    position: absolute;
    top: 50%;
    text-align: center; }
    .card .card-detail h4 {
      margin-bottom: 1rem; }
  .card-follow {
    position: absolute;
    bottom: 18%; }
  .card-social {
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 0;
    background-color: #dddddd; }
