@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Roboto'; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.contact-us {
  background-color: #fff7f8;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative; }
  .contact-us-2 {
    background: url(/svg/ContactTri.svg) no-repeat left;
    background-size: cover;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }

.location {
  width: 60%;
  font-size: 1.45rem;
  padding-left: 12%;
  line-height: 2rem; }
  .location .location-info {
    margin-top: 1.6rem;
    font-style: normal; }

.location:not(:last-child) {
  border-bottom: 2px solid pink;
  margin-bottom: 4rem;
  padding-bottom: 4rem; }

.dec {
  position: absolute; }
  .dec.half-circle {
    right: 0;
    width: 18vw; }
    .dec.half-circle.half-circle-up {
      top: 0; }
    .dec.half-circle.half-circle-down {
      bottom: 0; }

.about-us__header {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px; }
  .about-us__header h2 {
    font-size: 4.3rem;
    letter-spacing: 0.3rem;
    margin-bottom: 20px; }

.about-us p {
  font-size: 1.35rem;
  letter-spacing: 0.2rem;
  line-height: 1.6; }

.know-us-better {
  padding: 0px 15px;
  width: 80%;
  margin: auto; }
  .know-us-better__catch {
    position: relative;
    z-index: -1; }
    .know-us-better__catch h3 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 4.5rem;
      letter-spacing: 2px;
      color: rgba(197, 24, 24, 0.7); }
  .know-us-better:nth-child(3) {
    margin-top: -80px; }
  .know-us-better__ques-ans {
    display: flex;
    align-items: center; }
    .know-us-better__ques-ans h4 {
      font-size: 3rem;
      width: 60%;
      min-width: 250px;
      text-align: center; }
    .know-us-better__ques-ans p {
      padding: 30px 50px; }

.catch-1 {
  background: url(../../svg/familiarCircle.svg) no-repeat center;
  background-size: 280px;
  height: 280px;
  width: 280px;
  margin-bottom: -60px; }
  .catch-1 h3 {
    left: 5px;
    width: 260px; }
    .catch-1 h3 span {
      display: block;
      text-align: right; }

.catch-2 {
  background: url(../../svg/passionCircle.svg) no-repeat center;
  background-size: 390px;
  height: 390px;
  width: 390px;
  margin-left: auto; }
  .catch-2 h3 {
    font-size: 4.6rem;
    width: 450px;
    left: -15px; }
    .catch-2 h3 span {
      display: block; }

.ques-1 {
  flex-direction: row-reverse; }
  .ques-1 p {
    border-right: black solid; }

.ques-2 {
  margin-top: -100px; }
  .ques-2 p {
    border-left: black solid; }
