@mixin background-img($name, $att){
    background-image: url(../../img/#{$name}.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: $att;
    background-size: contain;
}

@mixin background-img-2($name, $att){
    background-image: url(../../img/#{$name}.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: $att;
    background-size: cover;
}
