:root {
  ////////////////////////////////////
  //// COMMON COLOR PALLET
  ////////////////////////////////////
  --light-color-heading-1-1: #ec9191;
  --light-color-heading-1-2: #903131;

  --btn-background-color: #efefef;
  --btn-color: #332e2e;

  --services-head: #ababab;

  ////////////////////////////////////
  //// LIGHT COLOR PALLET
  ////////////////////////////////////
  --light-hero-ovelay: rgba(0, 0, 0, 0);

  --light-background-1: #fff8f8;
  --light-background-2: #ffe6e6;
  --light-background-3: 255, 248, 248;

  --light-text-color-penta: #747474;
  --light-text-color-quad: #5f5f5f;
  --light-text-color-tertiary: #000;
  --light-text-color-secondary: #332e2e;
  --light-text-color-primary: #332e2e;

  --light-color-1: #ff0000;
  --light-color-2: #ef9595;

  --light-color-heading-2: #e95c6d;

  --light-bg-services: rgba(53, 47, 55, 0.95);
  --light-bg-service: rgba(255, 255, 255, 0.9);

  ////////////////////////////////////
  //// DARK COLOR PALLET
  ////////////////////////////////////
  --dark-hero-ovelay: rgba(0, 0, 0, 0.3);

  --dark-background-1: #090909;
  --dark-background-2: #2c2c2c;

  --dark-text-color-penta: #b1b1b1;
  --dark-text-color-quad: #dddddd;
  --dark-text-color-tertiary: #eee;
  --dark-text-color-secondary: #fff;
  --dark-text-color-primary: #efefef;

  --dark-color-1: #eee;
  --dark-color-2: #121212e6;
  --dark-color-3: #6f6f6f;

  --dark-color-heading-2: #eee;

  --dark-bg-services: rgba(13, 13, 13, 0.8);
  --dark-bg-service: rgba(18, 18, 18, 0.8);
}
