:root {
  ////////////////////////////////////
  //// LIGHT COLOR PALLET
  ////////////////////////////////////
  --btn-background-color: #efefef;
  --btn-color: #332e2e;

  --light-background-1: #fff8f8;
  --light-background-2: #ffe6e6;

  --light-text-color: #ababab;
  --light-text-color-tertiary: #747474;
  --light-text-color-secondary: #5f5f5f;
  --light-text-color-primary: #332e2e;

  --light-color-1: #ff0000;
  --light-color-2: #ef9595;

  --light-color-heading-1-1: #ec9191;
  --light-color-heading-1-1: #903131;

  --light-color-heading-2: #e95c6d;

  ////////////////////////////////////
  //// DARK COLOR PALLET
  ////////////////////////////////////
  --dark-background-1: #090909;
  --dark-background-2: #2c2c2c;

  --dark-text-color-qua: #b1b1b1;
  --dark-text-color-tertiary: #ddd;
  --dark-text-color-secondary: #eee;
  --dark-text-color-primary: #fff;

  --dark-color-1: #282828;
  --dark-color-2: #121212e6;
  --dark-color-3: #6f6f6f;

  --dark-color-heading-2: #eee;
}
