@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'layout/about/header.scss';
@import 'layout/about/teams.scss';
@import 'layout/about/lifeAtHappen.scss';
@import 'layout/about/vision.scss';
@import 'layout/about/values.scss';
@import 'layout/about/counter';