@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/base";
@import "base/typography";
@import "base/loading";

@import "components/buttons";
@import "components/carousel";
@import "components/cursor";
@import "components/animation";
@import "components/extends";

@import "pages/home";
@import "pages/gallery";
@import "pages/contact";
@import "pages/cPackages";

@import "layout/mouseMove";
@import "layout/navigation";
@import "layout/sidebar";
@import "layout/header";
@import "layout/services";
@import "layout/teams";
@import "layout/online-offline";
@import "layout/gallery";
@import "layout/packages";
@import "layout/location";
@import "layout/forms";
@import "layout/footer";

@import "themes/theme";
