@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/base";
@import "base/typography";
@import "base/loading";


@import "components/navigation";
@import "components/buttons";
@import "components/social";
@import "components/carousel";
@import "components/svg";
@import "components/animation";
@import "components/extends";

@import "layout/contact";
@import "layout/header";
@import "layout/aboutUs";
@import "layout/services";
@import "layout/teams";
@import "layout/testimonial";
@import "layout/gallery";
@import "layout/packages";
@import "layout/location";
@import "layout/forms";
@import "layout/footer";

@import "pages/home";
@import "pages/gallery";
@import "pages/contact";
@import "pages/cPackages";

@import "themes/theme";
