.about-us {
  background-color: var(--light-background-1);
  padding-bottom: 100px;
  clip-path: polygon(100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
  // box-shadow: 0 5px 10px 10px #000;
  // filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 1));

  &__header {
    padding-top: 8rem;
    margin-bottom: 16rem;
  }
}

.know-us-better {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 5;

  &-heading {
    display: flex;

    &-2 {
      justify-content: flex-end;
    }
  }

  &-container {
    h3 {
      width: 28rem;
      z-index: 5;
      letter-spacing: 5px;
    }

    span {
      display: block;
      text-align: right;
    }

    .passion {
      width: 54rem;
      margin: 5rem 0;

      span {
        text-align: left;
      }
    }
  }

  &-about {
    width: 92%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    margin: 5rem 0;
    z-index: 5;

    h4 {
      font-size: 3.4rem;
      text-align: right;
    }

    p {
      flex-basis: 78%;
      padding: 1.5rem 5% 1.5rem 0;
      border-right: 1px solid var(--light-text-color-primary);
    }

    &-2 {
      flex-direction: row;
      margin-left: auto;

      p {
        border-right: 0;
        border-left: 1px solid var(--light-text-color-primary);
        padding: 1rem 0 1rem 6%;
      }
    }
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1600) {
  .know-us-better {
    width: 85%;

    &-2 {
      margin-bottom: 2rem;
    }

    &-about {
      h4 {
        font-size: 3.6rem;
        text-align: right;
      }
    }
  }
}

@include respond(1900) {
  .know-us-better {
    width: 88%;

    &-2 {
      margin-bottom: 6rem;
    }

    &-container {
      h3 {
        width: 32rem;
      }

      .passion {
        margin: 6rem 0;
      }
    }

    &-about {
      h4 {
        font-size: 3.8rem;
        text-align: right;
      }
    }
  }
}

@include respond(1200) {
  .know-us-better {
    width: 97%;

    &-container {
      h3 {
        letter-spacing: 4px;
      }

      .passion {
        width: auto;
      }
    }

    &-about {
      width: 100%;
      justify-content: flex-start;

      h4 {
        padding: 0 0 0 2%;
      }

      p {
        flex-grow: 1;
        padding: 1rem 2% 1rem 0;
      }

      &-2 {
        margin-left: 0;

        h4 {
          padding: 0 2% 0 0;
        }

        p {
          padding: 1rem 0 1rem 2%;
        }
      }
    }
  }
}

@include respond(850) {
  .about-us {
    &__header {
      margin-bottom: 12rem;
    }
  }

  .know-us-better {
    &-about {
      flex-direction: column;
      padding: 0 5rem;

      h4 {
        font-size: 3.4rem;
        text-align: right;
        border-bottom: 1px solid var(--light-text-color-secondary);
        padding: 0 0 0 1rem;
        margin-left: auto;
      }

      p {
        padding: 1rem 0 0 0;
        border: 0;
        font-size: 1.5rem;
      }

      &-2 {
        flex-direction: column;

        h4 {
          margin-right: auto;
          margin-left: 0;
        }

        p {
          border-right: 0;
          padding: 1rem 0 1rem 0;
        }
      }
    }
  }
}

@include respond(550) {
  .know-us-better {
    &-heading {
      justify-content: center;
    }

    .passion {
      margin: 0;
      text-align: center;

      span {
        display: inline;
      }
    }

    &-about {
      padding: 0 1rem;
      margin: 9rem 0 14rem;
      text-align: center;

      &-2 {
        margin: 10rem 0 9rem;
      }

      h4 {
        margin: 0 auto;
      }
    }
  }
}
