.about-us {
  &__header {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10rem;

    h2 {
      font-size: 4.3rem;
      letter-spacing: 0.3rem;
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 1.35rem;
    letter-spacing: 0.2rem;
    line-height: 1.6;
  }
}

.know-us-better {
  padding: 0px 15px;
  width: 80%;
  margin: auto;
  &__catch {
    position: relative;
    z-index: -1;
    h3 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 4.5rem;
      letter-spacing: 2px;
      color: rgba(197, 24, 24, 0.7);
    }
  }
  &:nth-child(3) {
    margin-top: -80px;
  }
  &__ques-ans {
    display: flex;
    align-items: center;
    h4 {
      font-size: 3rem;
      width: 60%;
      min-width: 250px;
      text-align: center;
    }
    p {
      padding: 30px 50px;
    }
  }
}

.catch-1 {
  background: url(../../svg/familiarCircle.svg) no-repeat center;
  background-size: 280px;
  height: 280px;
  width: 280px;
  margin-bottom: -60px;
  h3 {
    left: 5px;
    width: 260px;
    span {
      display: block;
      text-align: right;
    }
  }
}

.catch-2 {
  background: url(../../svg/passionCircle.svg) no-repeat center;
  background-size: 390px;
  height: 390px;
  width: 390px;
  margin-left: auto;
  h3 {
    font-size: 4.6rem;
    width: 450px;
    left: -15px;
    span {
      display: block;
    }
  }
}

.ques-1 {
  flex-direction: row-reverse;
  p {
    border-right: black solid;
  }
}

.ques-2 {
  margin-top: -100px;
  p {
    border-left: black solid;
  }
}
