.about-us {
  &__header {
    margin-bottom: 10rem;
  }
}

// .know-us-better {
//   padding: 0 1.5rem;
//   width: 80%;
//   margin: auto;

//   &__catch {
//     position: relative;
//     z-index: -1;

//     h3 {
//       position: absolute;
//       top: 50%;
//       transform: translateY(-50%);
//     }
//   }

//   &:nth-child(3) {
//     margin-top: -80px;
//   }

//   &__ques-ans {
//     display: flex;
//     align-items: center;

//     h4 {
//       font-size: 3rem;
//       width: 60%;
//       min-width: 250px;
//       text-align: center;
//     }

//     p {
//       padding: 30px 50px;
//     }
//   }
// }

.know-us-better {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  .know-us-better-heading {
    display: flex;

    &-2 {
      justify-content: flex-end;
    }
  }

  .know-us-better-container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;

    h3 {
      width: 25rem;
    }

    span {
      display: block;
      text-align: right;
    }
  }

  &-about {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    margin: 5rem 0;

    h4 {
      font-size: 3rem;
      text-align: right;
    }

    p {
      flex-basis: 81%;
      padding: 1rem 6% 1rem 0;
      border-right: 1px solid var(--light-text-color-primary);
    }

    &-2 {
      flex-direction: row;

      p {
        border-right: 0;
        border-left: 1px solid var(--light-text-color-primary);
        padding: 1rem 0 1rem 6%;
      }
    }
  }
}

.dec {
  &.familiar-circle {
    width: 28rem;
    transform: translateX(0.3rem);
    z-index: -1;
  }
}

.catch-1 {
  background: url(../../svg/familiarCircle.svg) no-repeat center;
  background-size: 280px;
  height: 280px;
  width: 280px;
  margin-bottom: -60px;

  h3 {
    left: 5px;
    width: 260px;

    span {
      display: block;
      text-align: right;
    }
  }
}

.catch-2 {
  background: url(../../svg/passionCircle.svg) no-repeat center;
  background-size: 390px;
  height: 390px;
  width: 390px;
  margin-left: auto;

  h3 {
    font-size: 4.6rem;
    width: 450px;
    left: -15px;

    span {
      display: block;
    }
  }
}

.ques-1 {
  flex-direction: row-reverse;

  p {
    border-right: 1px solid black;
  }
}

.ques-2 {
  margin-top: -100px;

  p {
    border-left: 1px solid black;
  }
}
