.contact-us {
  background-color: rgb(255, 247, 248);
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;

  &-1 {
    position: relative;
    width: 60%;
    z-index: 10;
  }

  &-2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.contact {
  width: 70%;

  &_container {
    flex-direction: column;
    position: relative;
    margin-top: 12%;
  }

  &_head {
    display: flex;
    flex-direction: column;
    z-index: 1;
    letter-spacing: 0.02em;

    &-p {
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 18px;
      word-spacing: 0.2rem;
      color: var(--light-text-color-quad);

      &-1 {
        transform: translateY(-1rem);
      }

      &-2 {
        align-self: flex-end;
        transform: translateY(2rem);
      }
    }

    &-heading {
      font-size: 6rem;
      // font-size: 4vw;
      word-spacing: 0.4rem;
      color: var(--light-color-heading-2);
    }
  }
}

.location {
  width: 60%;
  font-size: 1.45rem;
  padding-left: 12%;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--light-text-color-primary);
  z-index: 5;

  .location-info {
    margin-top: 1.6rem;
    margin-top: 6%;
    font-style: normal;
    color: var(--light-text-color-quad);

    li {
      margin-bottom: 0.2rem;
    }

    a {
      color: var(--light-text-color-tertiary);
      font-weight: 300;
    }
  }

  &:not(:last-child) {
    border-bottom: 2px solid pink;
    // margin-bottom: 4rem;
    margin-bottom: 7%;
    // padding-bottom: 4rem;
    padding-bottom: 7%;
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1600) {
  .contact {
    width: 70%;

    &_container {
      margin-top: 12.8%;
    }

    &_head {
      &-p {
        font-size: 1.4rem;
      }

      &-heading {
        font-size: 6.4rem;
      }
    }
  }

  .location {
    font-size: 1.64rem;
  }
}

@include respond(1900) {
  .contact {
    &_container {
      margin-top: 15%;
    }

    &_head {
      &-p {
        font-size: 1.6rem;
        line-height: 1.2;

        &-1 {
          transform: translateY(-1rem) translateX(-3rem);
        }

        &-2 {
          transform: translateY(2rem) translateX(6rem);
        }
      }

      &-heading {
        font-size: 8rem;
      }
    }
  }

  .location {
    font-size: 1.8rem;
    line-height: 1.4;
  }
}

@include respond(1200) {
  .contact_head {
    &-p {
      &-1 {
        transform: translate(-3rem, -1rem);
      }

      &-2 {
        transform: translate(6rem, 2rem);
      }
    }

    &-heading {
      font-size: 5.2rem;
    }
  }
}

@include respond(950) {
  .contact {
    &_container {
      margin-top: 14%;
    }

    &_head {
      &-p {
        font-size: 1.25rem;

        &-1 {
          transform: translate(0, -1rem);
        }

        &-2 {
          transform: translate(0, 2rem);
        }
      }

      &-heading {
        font-size: 5rem;
      }
    }
  }

  .location {
    width: 70%;
    max-width: 200px;
  }
}

@include respond(700) {
  .contact-us {
    flex-direction: column;

    &-1,
    &-2 {
      width: 100%;
    }

    &-2 {
      flex-direction: row;
    }
  }
}
