.section-contact-us {
}

.contact-us {
  background-color: rgb(255, 247, 248);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;

  &-1 {
    width: 60%;
  }

  &-2 {
    // With Background Img
    background: url(/svg/ContactTri.svg) no-repeat left;
    background-size: cover;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.contact_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 7.2rem;
}

.contact_head {
  display: flex;
  flex-direction: column;
  z-index: 1;

  &-p {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.02em;

    &-1 {
      transform: translateY(-1rem);
    }

    &-2 {
      align-self: flex-end;
      transform: translateY(3rem);
    }
  }

  &-heading {
    font-size: 6rem;
    word-spacing: 0.4rem;
  }
}

.location {
  width: 60%;
  font-size: 1.45rem;
  padding-left: 12%;
  line-height: 2rem;
  letter-spacing: 0.02em;

  .location-info {
    margin-top: 1.6rem;
    font-style: normal;
  }
}

.location:not(:last-child) {
  border-bottom: 2px solid pink;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
}

.dec {
  position: absolute;

  &.circle {
    width: 22vw;
  }

  &.half-circle {
    right: 0;
    width: 18vw;

    &.half-circle-up {
      top: 0;
    }

    &.half-circle-down {
      bottom: 0;
    }
  }

  //With Image tag HTML
  // &.triangle {
  //   top: 0;
  //   right: 0;
  //   height: 100%;
  // }
}
