.section-contact-us {
  height: 100vh;
}

.contact-us {
  background-color: rgb(255, 247, 248);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;

  &-1 {
    position: relative;
    width: 60%;
  }

  &-2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.contact {
  width: 70%;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 12%;
  }
}

.contact_head {
  display: flex;
  flex-direction: column;
  z-index: 1;
  letter-spacing: 0.02em;

  &-p {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 18px;
    word-spacing: 0.2rem;
    color: var(--light-text-color-quad);

    &-1 {
      transform: translateY(-1rem);
    }

    &-2 {
      align-self: flex-end;
      transform: translateY(2rem);
    }
  }

  &-heading {
    font-size: 6rem;
    // font-size: 4vw;
    word-spacing: 0.4rem;
    color: var(--light-color-heading-2);
  }
}

.location {
  width: 60%;
  font-size: 1.45rem;
  padding-left: 12%;
  line-height: 2rem;
  letter-spacing: 0.02em;
  color: var(--light-text-color-primary);
  z-index: 5;

  .location-info {
    margin-top: 1.6rem;
    font-style: normal;
    color: var(--light-text-color-quad);

    a {
      color: var(--light-text-color-tertiary);
    }
  }

  &:not(:last-child) {
    border-bottom: 2px solid pink;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1200) {
  .contact_head {
    &-p {
      &-1 {
        transform: translateY(-1rem) translateX(-3rem);
      }

      &-2 {
        transform: translateY(2rem) translateX(6rem);
      }
    }

    &-heading {
      font-size: 5.2rem;
    }
  }
}
