.contact-us {
  background-color: rgb(255, 247, 248);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;

  &-1 {
    position: relative;
    width: 60%;
  }

  &-2 {
    // With Background Img
    background: url(/svg/ContactTri.svg) no-repeat left;
    background-size: cover;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.contact {
  width: 70%;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 7.2rem;
  }
}

.contact_head {
  display: flex;
  flex-direction: column;
  z-index: 1;
  letter-spacing: 0.02em;

  &-p {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 18px;
    word-spacing: 0.2rem;

    &-1 {
      transform: translateY(-1rem);
    }

    &-2 {
      align-self: flex-end;
      transform: translateY(2rem);
    }
  }

  &-heading {
    // font-size: 6rem;
    font-size: 4vw;
    word-spacing: 0.4rem;
  }
}

.form {
  margin-top: 8rem;

  &-control {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    position: relative;
    transform: translateX(5.5rem);

    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    & label {
      position: absolute;
      font-size: 1.6rem;
      padding-bottom: 1rem;
      top: 0.6rem;
    }

    & input {
      display: block;
      width: 100%;
      padding: 0.6rem 0;
      font-size: 1.6rem;
      background-color: transparent;
      border: 0;
      border-bottom: 3px solid #000;
    }

    & .form-btn {
      width: 100%;
      margin-top: 6rem;
      padding: 1.6rem 0;
      background-color: #000;
      color: #fff;
      border: 0;
    }
  }
}

.location {
  width: 60%;
  font-size: 1.45rem;
  padding-left: 12%;
  line-height: 2rem;
  letter-spacing: 0.02em;

  .location-info {
    margin-top: 1.6rem;
    font-style: normal;
  }

  &:not(:last-child) {
    border-bottom: 2px solid pink;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
  }
}
