footer {
    font-family:Arial, Helvetica, sans-serif;
    padding: 50px;
    border-top: black solid;
    
    nav{
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        position: relative;
        a{
            font-size: 1.8rem;
            padding: 2px 10px;
        }
    }
    hr{
        width: 90%;
        height: 2px;
        background-color: black;
        margin: auto;
        border: none;
    }
    
    section:nth-child(2){
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        display: none;
    }
}

address{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    img{
        width: 40px;
    }
    h3{
        font-size: 1.8rem;
        text-align: center;
    }
}

.links-location{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px

}

.social-media{
	display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
    a{
        margin: 0px 10px;
        width: 30px;
    }
}

.phone-number,.email{
    display: flex;
    align-items: center;
    width: 50%;
    img{
        width: 30px;
        margin-right: 10px;
    }
}

.contact-info{
    margin: 40px 0px;
}

form{
    width: 80%;
    .form-group{
        &:nth-child(1){
            margin-top: 10px;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin-bottom: 15px;
        input{
            height: 50px;
            width: 100%;
        }
        label{
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
       
    }
    .bttn{
        background-color: white;
        font-size: 1.6rem;
        padding: 15px 30px;
    }
}


.form-group{
    label{
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
            width: 25px;
        }
    }
    .form-sub-group{
        position: relative;
        width: 48%;
        input{
            width: 100%;
        }
    }
    &:nth-child(4){
        label{
            top: 30px;
        }
        textarea{
            width: 100%;
            height: 150px;
        }
    }
}

@media(max-width: 425px){
    .links-location{
        align-items: center;
        flex-direction: column;
    }

    .responsive-hr{
        position: relative;
        top: -100px;
    }

}
@media(min-width: 500px){
    .phone-number,.email{
        flex-direction: column;
        padding: 20px 0px;
    }
    .contact-info{
        display: flex;
        justify-content: space-between;
        align-items: center;   
        .phone-number{
            border-right: black solid;
        }
    }
}

@media(min-width: 1024px){
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "links form" "copy copy";
        section{
             width: 100%;
        }
        section:nth-child(1){
            grid-area: links;
        }
        section:nth-child(2){
            grid-area: form;
            display:flex;
        }
        section:nth-child(3){
            grid-area: copy;
        }
    }
}