.footer {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: auto;
  grid-template-areas:
    "nav"
    "contact"
    "copy";
  justify-content: center;
}
.nav-links {
  grid-area: nav;
  &__social-media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    a {
      margin: 0px 10px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 2px;
      background-color: black;
    }
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 0px;
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      font-size: 1.8rem;
      margin: 2.5px 0px;
    }
  }
  &__location {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: black;
  }
}
.contact {
  grid-area: contact;
  margin: 20px 0px;
  &__call {
    display: flex;
    flex-direction: row;
  }
  &__email {
    display: flex;
    flex-direction: row;
  }
}
.form {
  .form__bttn {
    width: 100px;
    padding: 15px 20px;
    background-color: white;
    border: black solid 1px;
  }
}
.inquire-form {
  grid-area: form;
  display: none;
  flex-direction: column;
  margin: 0px 100px;
  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    display: flex;
    width: 100%;

    align-items: center;
    font-size: 1.5rem;
    img {
      margin-right: 10px;
    }
  }
}

.form-group {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  margin: 8px 0px;
  &__row {
    width: 47%;
    position: inherit;
  }
  &:nth-child(5) {
    label {
      top: 10px;
      transform: translateY(0);
    }
  }
}
.copyright {
  grid-area: copy;
  padding: 15px 0px;
  &__header {
    text-align: center;
    font-size: 1.8rem !important;
  }
}
