footer {
  background-image: var(--light-bg-footer),
    url(../images/footer/footer-bg-xl.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 4rem 5rem 2rem 5rem;

  &__container {
    width: 48%;
  }
}

.container {
  &__title {
    margin-bottom: 1.5rem;
  }
}

.social-media {
  display: flex;
  align-items: center;

  &__link {
    width: 4.4rem;
    margin-right: 2rem;
  }
}

.menu {
  margin: 4rem 0 2rem;
  padding: 4rem 0 4rem;
  border-bottom: 1px solid var(--light-text-color-secondary);
  border-top: 1px solid var(--light-text-color-secondary);

  &__link {
    font-size: 1.8rem;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    a {
      color: var(--light-text-color-secondary);
    }
  }
}

.footer {
  &__info {
    display: flex;
    justify-content: space-between;
    font-size: 1.45rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: none;
    font-style: none;
  }

  &__contact {
    text-align: right;

    a {
      color: var(--light-text-color-secondary);
    }
  }
}

.f-form {
  width: 90%;
  text-transform: none;
  font-weight: 400;

  &__grp {
    display: flex;
    justify-content: space-between;

    &-1 {
      width: 45%;
    }

    &-2 {
      width: 45%;
    }
  }

  .input-label {
    position: relative;
    margin-bottom: 3rem;

    & label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 1.3rem;
      font-weight: 500;
      font-size: 1.6rem;
      opacity: 1;
    }

    & input {
      width: 100%;
      padding: 1.4rem;
      font-size: 1.6rem;
      border-radius: 5px;
      border: 0;
      border-bottom: 3px solid var(--light-text-color-primary);

      &:focus {
        outline: none;
      }

      &:focus:invalid {
        border-bottom: 3px solid rgb(238, 69, 69);
      }

      &:focus:valid {
        border-bottom: 3px solid limegreen;
      }
    }
  }

  .textarea-label {
    label {
      top: 0;
      transform: none;
      margin: 1rem 0 0 0;
    }

    textarea {
      border: 0;
      border-radius: 5px;
      width: 100%;
      height: 14rem;
    }
  }

  button {
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.copyright {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 6rem;
  padding-bottom: 3rem;
}

@include respond(1200) {
  .f-form {
    width: 100%;
  }
}

@include respond(950) {
  .footer {
    flex-direction: column;
    padding: 6rem 5rem 2rem 5rem;

    &__container {
      width: 90%;
      margin: 0 auto;

      &-2 {
        margin-top: 8rem;
      }
    }
  }
}

@include respond(700) {
  .footer {
    &__container {
      width: 100%;
    }
  }
}

@include respond(450) {
  .footer {
    text-align: center;
    padding: 4rem 1rem 2rem 1rem;
  }

  .f-form__grp {
    display: block;

    &-1,
    &-2 {
      width: 100%;
    }
  }

  .footer__info {
    display: block;
  }

  .footer__contact {
    text-align: center;
    margin-top: 2rem;
  }
}
