.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: var(--light-text-color-primary);
  background-color: var(--light-background-2);
  padding: 0px 20px;
  &__container {
    flex: 1 1 475px;
    padding: 30px 20px;
    &:first-of-type {
      margin: 0px 20px 0px 0px;
    }
  }
  &__form {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  &__contact {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.container__title {
  font-size: 4.2rem;
  margin: 0px 0px 20px;
}

.social-media {
  display: flex;
  align-items: center;
  &__link {
    width: 100%;
    max-width: 40px;
    margin: 0px 10px 0px 0px;
  }
}

.menu {
  margin: 40px 0px;
  padding: 25px 0px;
  border-top: 1px var(--light-text-color-primary) solid;
  border-bottom: 1px var(--light-text-color-primary) solid;
  &__link {
    a {
      color: var(--light-text-color-secondary);
    }
    font-size: 2rem;
    padding: 10px 0px;
  }
}

.contact {
  &__address {
    width: 50%;
    padding-right: 20px;
  }
}

.f-form {
  &__grp {
    display: flex;
    justify-content: space-between;
  }
  &__bttn {
    width: 100px;
    height: 50px;
    margin: 30px 0px 0px;
  }
}

.f-form__grp {
  .input-label {
    width: 45%;
  }
}

.input-label {
  position: relative;
  margin-bottom: 35px;
  label {
    color: black;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
  }
  input {
    width: 100%;
    height: 50px;
  }
}

.textarea-label {
  position: relative;
  label {
    color: black;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 1.4rem;
  }
  textarea {
    width: 100%;
    height: 200px;
  }
}
.copyright {
  width: 100%;
  text-align: center;
  font-size: 2.1rem;
  margin: 30px 0;
}
