.form {
  margin-top: 15%;

  &-control {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    position: relative;
    transform: translateX(5.5rem);

    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    & label {
      position: absolute;
      font-size: 1.6rem;
      padding-bottom: 1rem;
      top: 0.6rem;
    }

    & input {
      display: block;
      width: 100%;
      padding: 0.6rem 0;
      font-size: 1.6rem;
      background-color: transparent;
      border: 0;
      border-bottom: 3px solid var(--light-text-color-primary);
      transition: border 0.3s;

      &:focus {
        outline: none;
        border-bottom: 3px solid red;
      }
    }

    & .form-btn {
      width: 100%;
      margin-top: 6rem;
      padding: 1.6rem 0;
      background-color: #000;
      color: #fff;
      border: 0;
    }
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1200) {
  .form {
    &-control {
      max-width: 220px;

      &:not(:last-child) {
        margin-bottom: 3.2rem;
      }
    }
  }
}
