.form {
  margin-top: 15%;

  &-control {
    width: 42%;
    // max-width: 280px;
    margin: 0 auto;
    position: relative;
    transform: translateX(5.5rem);

    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    & label {
      position: absolute;
      font-size: 1.6rem;
      padding-bottom: 1rem;
      top: 0.6rem;
    }

    & input {
      display: block;
      width: 100%;
      padding: 0.6rem 0;
      font-size: 1.6rem;
      background-color: transparent;
      border: 0;
      border-bottom: 3px solid var(--light-text-color-primary);
      transition: border 0.3s;

      &:focus {
        outline: none;
        border-bottom: 3px solid red;
      }
    }

    & .form-btn {
      width: 100%;
      margin-top: 6rem;
      padding: 1.6rem 0;
      background-color: #000;
      color: #fff;
      border: 0;
    }
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1600) {
  .form {
    margin-top: 17%;

    &-control {
      &:not(:last-child) {
        margin-bottom: 4.2rem;
      }

      & label {
        font-size: 1.7rem;
      }

      & input {
        font-size: 1.7rem;
      }

      & .form-btn {
        font-size: 1.6rem;
      }
    }
  }
}

@include respond(1900) {
  .form {
    margin-top: 20%;

    &-control {
      width: 48%;

      &:not(:last-child) {
        margin-bottom: 4.8rem;
      }

      & label {
        font-size: 1.9rem;
      }

      & input {
        font-size: 1.9rem;
      }

      & .form-btn {
        margin-top: 8rem;
        font-size: 1.7rem;
      }
    }
  }
}

@include respond(2200) {
  .form {
    margin-top: 22%;
  }
}

@include respond(1200) {
  .form {
    margin-top: 12%;

    &-control {
      min-width: 220px;

      &:not(:last-child) {
        margin-bottom: 3.2rem;
      }
    }

    & .form-btn {
      margin-top: 4rem;
    }
  }
}
