.section__header {
  background-image: url(../../images/HeroImage.png),
    linear-gradient(to bottom left, #bc9590 0%, #e2c3bc);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &__container {
    width: 40%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1200) {
  .header {
    &__container {
      width: 45%;
    }
  }
}

@include respond(950) {
  .header {
    &__container {
      width: 50%;
    }
  }
}
