.section__header-2 {
  @include background-img(header-2, fixed);
  height: 100vh;
  background-color: rgb(170, 170, 170);
  position: relative;
}

.head__container {
  height: 100vh;
}

.aside__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  top: 22rem;

  &__quote {
    font-family: cursive;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.9);

    &--1 {
      margin-left: 4rem;
      transform: rotate(180deg);
    }

    &--2 {
      margin-right: 4rem;
    }
  }
}

.head__nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.8s;
  padding: 5rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  img {
    width: 8rem;
    margin: 3rem;
  }

  &--element {
    padding: 1rem 0;
    transition: transform 0.5s;

    &.left:nth-of-type(n) {
      margin-right: 2rem;
    }

    &.right:nth-of-type(n) {
      margin-left: 2rem;
    }

    &:hover {
      transform: translateY(-0.4rem);
    }

    &--link {
      &,
      &:link,
      &:visited {
        text-decoration: none;
        padding: 1rem 2rem;
        cursor: pointer;
        color: #fff;
        border-bottom: 2px solid transparent;
        font-size: 1.7rem;
      }

      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 20%;
        height: 20%;
        border: 2px solid;
        transition: all 0.6s ease;
        border-radius: 2px;
      }

      &::after {
        bottom: 0;
        right: 0;
        border-color: transparent;
      }

      &::before {
        top: 0;
        left: 0;
        border-color: transparent;
      }

      &:hover::after,
      &:hover::before {
        border-color: #fff;
        width: 100%;
        height: 100%;
      }

      &:focus,
      &:active {
        outline: none;
        background-color: rgba(0, 0, 0, 0.6);
        border: 2px solid #fff;
      }
    }
  }
}
