.section__header {
  background-image: url(../../images/HeroImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85%;

  &__container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);

    h1 {
      font-size: 11rem;
      margin-bottom: 4rem;

      span {
        display: block;
        font-size: 7rem;
        font-weight: 400;
        letter-spacing: 1.4rem;
        margin-bottom: 1rem;
      }
    }
  }
}
