.section__packages {
  background: url(../svg/teams/teamsWaves.svg) no-repeat bottom;
  width: 100%;
}

.packages {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 108rem;
  grid-template-columns: 32rem 32rem 32rem;
  grid-template-rows: 50rem 50rem;
  gap: 6rem;
  margin: 0 auto;
}

.package {
  width: 32rem;
  height: 50rem;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.card {
  &__picture {
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--clip {
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    }

    &--1 {
      background-image: linear-gradient(
          rgba(247, 76, 76, 0.5),
          rgba(238, 66, 66, 0.5)
        ),
        url(../../images/packages/package1.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          rgba(247, 76, 76, 0.5),
          rgba(238, 66, 66, 0.5)
        ),
        url(../../images/packages/package2.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          rgba(247, 76, 76, 0.5),
          rgba(238, 66, 66, 0.5)
        ),
        url(../../images/packages/package3.jpg);
    }
    &--4 {
      background-image: linear-gradient(
          rgba(247, 76, 76, 0.5),
          rgba(238, 66, 66, 0.5)
        ),
        url(../../images/packages/package4.jpg);
    }
    &--5 {
      background-image: linear-gradient(
          rgba(247, 76, 76, 0.5),
          rgba(238, 66, 66, 0.5)
        ),
        url(../../images/packages/package5.jpg);
    }
    &--6 {
      background-image: linear-gradient(
          rgba(247, 76, 76, 0.5),
          rgba(238, 66, 66, 0.5)
        ),
        url(../../images/packages/package6.jpg);
    }
  }

  &__head {
    background-color: #fff;
    height: 22rem;
    text-align: center;
    padding: 2rem 2rem;

    h3 {
      font-size: 4rem;
      letter-spacing: 1.5px;
      font-weight: 500;
    }

    small {
      color: pink;
      font-size: 1.5rem;
      letter-spacing: 1.5px;
    }

    p {
      margin-top: 3.5rem;
      font-size: 1.5rem;
    }

    &--clip {
      position: absolute;
    }
  }

  &__details {
    height: 8rem;
    background-color: rgb(245, 134, 152);
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    p {
      flex-direction: column;
      font-size: 2.5rem;
    }

    span {
      display: block;
      margin-top: 2px;
      font-size: 1.1rem;
    }

    &--clip {
      text-align: center;
      background-color: #fff;
      height: 30rem;

      ul {
        width: 80%;
        margin: 0 auto;
      }

      li {
        font-size: 1.6rem;
        padding: 1.2rem 0;

        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
}

.card__back {
  width: 100%;
  position: absolute;
  background-color: brown;
  top: 0;
  left: 0;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card {
  &__price {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    font-weight: 100;
    margin-top: 40%;
    letter-spacing: 2px;

    span {
      display: block;
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
  }
}

.btn {
  &-back {
    margin-top: 4rem;
    padding: 1rem 4rem;
    font-size: 1.7rem;
    letter-spacing: 1.2px;
  }

  &-back-download {
    margin-top: 45%;
  }
}
