.section__packages {
  background: url(../svg/packages/teamsWaves.svg) no-repeat bottom;
  width: 100%;
}

.packages {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: 32rem 32rem 32rem;
  grid-template-rows: 50rem 50rem;
  gap: 6rem;
  margin: 0 auto;
}

.package {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.card {
  &__picture {
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--clip {
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    }
    &--1 {
      background-image: linear-gradient(
          rgba(41, 152, 255, 0.3),
          rgba(86, 67, 250, 0.3)
        ),
        url(../images/packages/package1.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          rgba(94, 255, 245, 0.3),
          rgba(0, 190, 190, 0.3)
        ),
        url(../images/packages/package2.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          rgba(249, 7, 109, 0.3),
          rgba(249, 7, 109, 0.3)
        ),
        url(../images/packages/package3.jpg);
    }
    &--4 {
      background-image: linear-gradient(
          rgba(1, 167, 57, 0.3),
          rgba(1, 167, 57, 0.3)
        ),
        url(../images/packages/package4.jpg);
    }
    &--5 {
      background-image: linear-gradient(
          rgba(255, 76, 9, 0.3),
          rgba(255, 76, 9, 0.3)
        ),
        url(../images/packages/package5.jpg);
    }
    &--6 {
      background-image: linear-gradient(
          rgba(204, 248, 30, 0.3),
          rgba(204, 248, 30, 0.3)
        ),
        url(../images/packages/package6.jpg);
    }
  }

  &__head {
    background-color: #fff;
    height: 22rem;
    text-align: center;
    padding: 2rem 2rem;

    h3 {
      font-size: 4rem;
      letter-spacing: 1.5px;
      font-weight: 500;
    }

    small {
      font-weight: 500;
      font-size: 1.5rem;
      letter-spacing: 1.5px;
    }

    .small--3 {
      color: #f9076d;
    }

    .small--4 {
      color: #009331;
    }

    .small--5 {
      color: #ff4c09;
    }

    .small--6 {
      color: #a1c610;
    }

    p {
      margin-top: 3.5rem;
      font-size: 1.5rem;
    }

    &--clip {
      position: absolute;
    }
  }

  &__details {
    height: 8rem;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      flex-direction: column;
      font-size: 2.5rem;
    }

    span {
      display: block;
      margin-top: 2px;
      font-size: 1.1rem;
    }

    &--3 {
      background-color: rgba(249, 7, 109, 0.8);
    }

    &--4 {
      background-color: rgba(1, 167, 57, 0.8);
    }

    &--5 {
      background-color: rgba(255, 76, 9, 0.8);
    }

    &--6 {
      background-color: rgba(204, 248, 30, 0.8);
    }

    &--clip {
      text-align: center;
      background-color: #fff;
      height: 30rem;

      ul {
        width: 80%;
        margin: 0 auto;
      }

      li {
        font-size: 1.6rem;
        padding: 1.2rem 0;

        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
}

.card__back {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;

  &--1 {
    background-image: linear-gradient(45deg, #5bb0ff, #1e00c9);
  }
  &--2 {
    background-image: linear-gradient(45deg, #0ad8df, #0011a7);
  }
  &--3 {
    background-image: linear-gradient(45deg, #fa4993, #df0013);
  }
  &--4 {
    background-image: linear-gradient(45deg, #00ff55, #007a14);
  }
  &--5 {
    background-image: linear-gradient(45deg, #ff895e, #ac6810);
  }
  &--6 {
    background-image: linear-gradient(45deg, #95f546, #348b1f);
  }
}

.card {
  &__price {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    font-weight: 100;
    margin-top: 40%;
    letter-spacing: 2px;

    span {
      display: block;
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
  }
}

.btn {
  &-back {
    margin-top: 4rem;
    padding: 1rem 4rem;
    font-size: 1.7rem;
    letter-spacing: 1.2px;
  }

  &-back-download {
    margin-top: 45%;
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1200) {
  .section__packages {
    background: url(../svg/packages/teamsWaves-m.svg) no-repeat bottom;
  }

  .packages {
    width: 100%;
    // grid-template-columns: repeat(3, minmax);
    // grid-template-rows: 50rem 50rem;
    gap: 5% 3%;
  }
}

@include respond(950) {
  .section__packages {
    background: url(../svg/packages/teamsWaves-s.svg) no-repeat bottom;
  }

  .packages {
    width: 100%;
    grid-template-columns: repeat(2, minmax(32rem, 30%));
    grid-template-rows: 50rem 50rem 50rem;
    gap: 8rem 6rem;
  }
}

@include respond(550) {
  .section__packages {
    background: url(../svg/packages/teamsWaves-ss.svg) no-repeat bottom;
  }

  .packages {
    width: 100%;
    grid-template-columns: repeat(1, minmax(50%, 32rem));
    grid-template-rows: 50rem 50rem 50rem;
    gap: 6rem 2rem;
  }

  .package-m {
    display: none;
  }
}
