.section__services {
  padding: 3rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-1, 0),
      rgba($color-7, 0)
    ),
    url(../../img/service2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 137vh;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
}

.service__heading{
  margin-top: 10rem;
}

.service__container {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 20% 20% 20%;
  grid-template-rows: auto;
  grid-gap: 2rem 3rem;
  grid-template-areas:
    "services service-1 service-2 service-3"
    "services service-4 service-5 service-6";
  border-radius: 100px;
  margin: 4rem;

  
  &:hover > div{
    opacity: 0.3;
  }

  & > div:hover{
    opacity: 1;
  }

  &__cell {
    background-color: rgba(253, 207, 215, 0.9);
    padding: 2.5rem;
    border-radius: 30px;

    &--1 {
      grid-area: services;
    }

    &--2 {
      grid-area: service-1;
    }

    &--3 {
      grid-area: service-2;
    }

    &--4 {
      grid-area: service-3;
    }

    &--5 {
      grid-area: service-4;
    }

    &--6 {
      grid-area: service-5;
    }

    &--7 {
      grid-area: service-6;
    }
  }
}
