.section__services {
  display: flex;
  background-image: url(../images/services/services-bg-l.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &-1 {
    width: 40%;
    background-color: var(--light-bg-services);
    padding: 16rem 0 0;
  }

  &-2 {
    width: 60%;
    padding: 10rem 0;
  }
}

.services__heading {
  text-align: left;
  width: 55%;
  margin-left: 10%;

  h2 {
    color: #fff;

    span {
      display: block;
      color: var(--services-head);
    }
  }

  p {
    color: #efefef;
    text-align: justify;
    position: relative;
    padding-bottom: 4rem;

    &::after {
      content: "";
      width: 80px;
      height: 3px;
      background-color: #efefef;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.services {
  background-image: linear-gradient(
      var(--light-bg-service),
      var(--light-bg-service)
    ),
    url(../images/services/service-bg-l.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 110%;
  left: -15%;
  padding: 5rem 10rem;
  overflow: hidden;
}

.grid {
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 45% 45% 45% 45%;
  grid-template-rows: 1fr 1fr;
  gap: 4% 10%;
  grid-template-areas:
    ". . . ."
    ". . . .";
  transform: translateX(0);
  transition: transform 0.5s ease-in;
}

.service {
  display: flex;
  flex-direction: column;

  &-img {
    width: 70px;
    margin-bottom: 1.5rem;
  }

  &-head {
    font-size: 15px;
    position: relative;
    padding-bottom: 1rem;
    color: var(--light-text-color-tertiary);

    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: var(--light-color-heading-2);
      bottom: 0;
      left: 0;
    }
  }

  &-paragraph {
    letter-spacing: 1px;
    margin-top: 2rem;
    padding-bottom: 3rem;
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1600) {
  .services {
    width: 105%;
    left: -12%;
  }
}

@include respond(1900) {
  .section__services {
    background-image: url(../images/services/services-bg-xl.jpg);
  }

  .services {
    background-image: linear-gradient(
        var(--light-bg-service),
        var(--light-bg-service)
      ),
      url(../images/services/service-bg-xl.jpg);
  }

  .service {
    &-img {
      width: 90px;
      margin-bottom: 1.9rem;
    }

    &-head {
      font-size: 22px;

      &::after {
        height: 3.4px;
        width: 80px;
      }
    }
  }
}

@include respond(2200) {
  .service {
    &-img {
      width: 110px;
      margin-bottom: 2rem;
    }
  }
}

@include respond(1400) {
  .section__services {
    &-1 {
      width: 38%;
      padding: 14rem 0 0;
    }

    &-2 {
      width: 62%;
      padding: 8rem 0;
    }
  }

  .services__heading {
    margin-left: 8%;
  }

  .services {
    padding: 4rem 7rem;
  }

  .service {
    &-img {
      width: 60px;
    }
  }
}

@include respond(1200) {
  .section__services {
    background-image: url(../images/services/services-bg-m.jpg);

    &-1 {
      width: 40%;
      background-color: var(--light-bg-services);
      padding: 6rem 0 0;
    }

    &-2 {
      width: 60%;
      padding: 4rem 0;
    }
  }

  .services__heading {
    width: 50%;
    h2 {
      font-size: 4.4rem;
    }
  }

  .services {
    background-image: linear-gradient(
        var(--light-bg-service),
        var(--light-bg-service)
      ),
      url(../images/services/service-bg-m.jpg);
    width: 115%;
    padding: 2rem 6rem;
    left: -20%;
  }

  .service {
    &-paragraph {
      margin-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

@include respond(950) {
  .section__services {
    flex-direction: column;

    &-1 {
      width: 100%;
      padding: 0 0 4rem;

      p {
        font-size: 1.5rem;
      }
    }

    &-2 {
      width: 100%;
      padding: 0;
    }
  }

  .services__heading {
    width: 80%;
    margin: 0 auto;
    padding: 8rem 0 4rem 0;
    text-align: center;

    h2 {
      span {
        display: inline;
      }
    }

    p {
      text-align: center;
      padding-bottom: 2rem;

      &::after {
        transform: translateX(-50%);
        left: 50%;
        width: 10rem;
      }
    }
  }

  .services {
    width: 100%;
    padding: 4rem 6rem;
    left: 0;
    margin-bottom: 20rem;
  }
}

@include respond(700) {
  .section__services {
    background-image: url(../images/services/services-bg-s.jpg);
  }

  .services {
    background-image: linear-gradient(
        var(--light-bg-service),
        var(--light-bg-service)
      ),
      url(../images/services/service-bg-s.jpg);
  }

  .services__heading {
    width: 95%;
  }

  .service-paragraph {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
}

@include respond(550) {
  .grid-container {
    grid-template-columns: 100% 100% 100% 100%;
  }
}
