.section-our-teams {
  // background-image: url(../svg/teams/teamsWaves.svg);
  // background-repeat: no-repeat;
  // background-position: bottom;
  background: url(../svg/teams/teamsWaves.svg) no-repeat bottom;
}

.our-teams__header {
  margin: 6rem auto 10rem;
}

.cards-container {
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  h3 {
    font-size: 4rem;
    align-self: flex-start;
    margin-bottom: 6rem;
  }
}

.cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 12rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 32rem;
  width: 22vw;
  max-height: 42rem;
  height: 26vw;
  position: relative;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);

  &:nth-child(odd) {
    transform: translateY(3rem);
  }

  &-bg {
    height: 30%;
    width: 100%;
    // background-image: url(../images/teams/CardBackground.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    background: url(../images/teams/CardBackground.png) no-repeat;
    background-size: cover;
  }

  &-team-photo {
    height: 10vw;
    max-height: 14rem;
    width: 10vw;
    max-width: 14rem;
    position: absolute;
    top: 6%;
    border-radius: 50%;
    background-color: grey;
  }

  &-detail {
    width: 100%;
    height: 55%;
    flex-direction: column;
    background-color: #3c3c3c;
    top: 50%;
    text-align: center;

    h4 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 100;
    }
  }

  &-follow {
    position: absolute;
    bottom: 18%;
  }

  &-social {
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 0;
    background-color: rgb(221, 221, 221);

    ul {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin: 0 2rem;
        width: 4rem;

        img {
          -webkit-filter: drop-shadow(5px 5px 5px #222);
          filter: drop-shadow(0 0 8px rgb(90, 90, 90));
        }
      }
    }
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1600) {
  .cards-container {
    width: 75%;
  }

  .cards {
    margin-bottom: 12rem;
  }

  .card {
    max-height: 42rem;
    max-width: 34rem;

    &-team-photo {
      max-height: 15rem;
      max-width: 15rem;
    }

    .card-detail {
      h4 {
        font-size: 1.9rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    &-social {
      ul {
        li {
          width: 3vw;
        }
      }
    }
  }
}

@include respond(1900) {
  .our-teams__header {
    width: 60%;
    margin: 6rem auto 10rem;
  }

  .cards-container {
    width: 75%;
    max-width: 1700px;

    h3 {
      font-size: 4.2rem;
      margin-bottom: 6rem;
    }
  }

  .cards {
    margin-bottom: 14rem;
  }

  .card {
    width: 21vw;
    height: 26vw;
    max-width: 420px;
    max-height: 540px;

    &-team-photo {
      height: 10vw;
      width: 10vw;
      max-width: 190px;
      max-height: 190px;
    }

    &-social {
      ul {
        li {
          width: 2.7vw;
          max-width: 58px;
        }
      }
    }
  }
}

@include respond(2200) {
  .card {
    max-width: 450px;
    max-height: 550px;

    &-team-photo {
      max-width: 200px;
      max-height: 200px;
    }

    &-social {
      ul {
        li {
          width: 2.8vw;
          max-width: 65px;
        }
      }
    }
  }
}

@include respond(1200) {
  .section-our-teams {
    background: url(../svg/teams/teamsWaves-m.svg) no-repeat bottom;
  }

  .our-teams__header {
    margin: 5rem auto 8rem;
  }

  .cards-container {
    width: 85%;
    h3 {
      font-size: 3.6rem;
    }
  }

  .card {
    width: 30%;
    max-width: 30rem;
    height: 36rem;

    &-team-photo {
      height: 11vw;
      min-height: 12.5rem;
      width: 11vw;
      min-width: 12.5rem;
    }
  }
}

@include respond(950) {
  .cards-container {
    width: 98%;
  }

  .card {
    width: 30rem;
    max-width: 32%;
    height: 38rem;

    &-team-photo {
      height: 11vw;
      min-height: 13rem;
      width: 11vw;
      min-width: 13rem;
    }
  }
}

@include respond(700) {
  .section-our-teams {
    background: url(../svg/teams/teamsWaves-s.svg) no-repeat bottom;
  }

  .our-teams__header {
    margin: 6rem auto 6rem;
  }

  .cards {
    width: 92%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .card {
    width: 50%;
    max-width: 30rem;
    height: 38rem;

    &:nth-child(even) {
      margin-right: auto;
      transform: translateY(-30%);
    }

    &:nth-child(odd) {
      margin-left: auto;
    }

    &:last-child {
      transform: translateY(-60%);
    }

    &-team-photo {
      min-height: 14rem;
      min-width: 14rem;
      top: 8%;
    }
  }

  .cards-container {
    width: 95%;

    h3 {
      font-size: 3.2rem;
    }
  }
}

@include respond(550) {
  .section-our-teams {
    background: url(../svg/teams/teamsWaves-ss.svg) no-repeat bottom;
  }

  .cards {
    width: 95%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .card {
    width: 95%;
    max-width: 32rem;
    height: 40rem;

    &:nth-child(even) {
      order: -1;
      margin: 2rem auto 6rem;
      transform: translateY(0);
    }

    &:nth-child(odd) {
      margin: 0 auto 6rem;
      transform: translateY(0);
    }
  }

  .cards-container {
    width: 98%;

    h3 {
      margin: 0 auto 4rem;
      font-size: 2.8rem;
      text-align: center;
    }
  }
}
