.section-testimonials {
  background-image: url(../../images/testimonials/testi-xl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 8rem 0;
  display: none;
}

.testimonials-container {
  background-color: rgba(var(--light-background-3), 0.8);
  width: 85%;
  padding: 4rem;
}

.testimonials-heading {
  letter-spacing: 3px;

  & strong {
    color: var(--light-color-1);
    font-size: 1.6rem;
  }

  & h2 {
    font-size: 4rem;
    padding: 2rem 0;
    color: var(--light-color-2);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 10%;
      height: 5px;
      background-color: var(--light-color-heading-2);
      bottom: 0;
      left: 45%;
    }
  }
}

.testimonials {
  position: relative;
  padding-top: 12rem;
  display: grid;
  grid-template-columns: 30% 30% 30% 30% 30% 30%;
  grid-template-rows: 1fr;
  gap: 5%;
  grid-template-areas: ". . . . . .";
  overflow: hidden;
}

.testimonial {
  position: relative;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 0 3rem 3rem;
  // > 1200px
  // transform: translateX(116%);
  // transform: translateX(0);
  // transform: translateX(-116%);
  // transform: translateX(-232%);

  // 950 < 1200px
  // transform: translateX(106%);
  // transform: translateX(0);
  // transform: translateX(-106%);
  // transform: translateX(-212%);

  //700 < 950px
  // transform: translateX(90%);
  // transform: translateX(-22%);
  // transform: translateX(-134%);

  &-photo {
    background-color: antiquewhite;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: "";
      width: 147px;
      height: 147px;
      border-radius: 50%;
      border: 3px solid #000;
      position: absolute;
    }
  }

  &-head {
    font-size: 1.8rem;
    transform: translateY(-3rem);
    margin-bottom: 1rem;
  }

  &-detail {
    letter-spacing: 1px;
    margin-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1400) {
  .testimonials-container {
    width: 95%;
  }

  .testimonial {
    &-detail {
      width: 100%;
    }
  }
}

@include respond(1200) {
  .testimonials-heading {
    letter-spacing: 2px;

    & strong {
      font-size: 1.5rem;
    }

    & h2 {
      font-size: 3.6rem;
    }
  }

  .testimonials-container {
    width: 98%;
  }

  .testimonials {
    grid-template-columns: 32% 32% 32% 32% 32% 32%;
    gap: 2%;
  }

  .testimonial {
    &-photo {
      width: 120px;
      height: 120px;

      &::after {
        width: 127px;
        height: 127px;
      }
    }

    &-head {
      margin-top: -1.4rem;
    }

    &-detail {
      width: 100%;
      margin-top: -1.4rem;
    }
  }
}

@include respond(950) {
  .testimonials-container {
    width: 100%;
    padding: 2rem;
  }

  .testimonials {
    grid-template-columns: 36% 36% 36% 36% 36% 36%;
    gap: 4%;
  }
}
