.section-testimonials {
  background-image: url(../../images/TestimonialBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 110vh;
  padding: 8rem 12rem;
}

.testimonials-container {
  background-color: rgba(var(--light-background-3), 0.8);
  height: 100%;
  padding: 4rem;
}

.testimonials-heading {
  & strong {
    color: var(--light-color-1);
    font-size: 1.6rem;
  }

  & h2 {
    font-size: 4rem;
    padding: 2rem 0;
    color: var(--light-color-2);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 10%;
      height: 5px;
      background-color: var(--light-color-heading-2);
      bottom: 0;
      left: 45%;
    }
  }
}

.testimonials {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.testimonial {
  position: relative;

  .testimonial-photo {
  }

  .testimonial-head {
  }

  .testimonial-detail {
  }
}
