.section-testimonials {
  background-image: url(../../img/testimonials/testi-l.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 8rem 0;
  display: flex;
}

.testimonials-container {
  background-color: rgba(var(--light-background-3), 0.8);
  width: 85%;
  padding: 4rem;
}

.testimonials-heading {
  margin-bottom: 12rem;
  letter-spacing: 3px;

  & strong {
    color: var(--light-color-1);
    font-size: 1.6rem;
  }

  & h2 {
    font-size: 4rem;
    padding: 2rem 0;
    color: var(--light-color-2);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 10%;
      height: 5px;
      background-color: var(--light-color-heading-2);
      bottom: 0;
      left: 45%;
    }
  }
}

.testimonials {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.testimonial {
  position: relative;
  width: 28%;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0 30px;

  .testimonial-photo {
    background-color: antiquewhite;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: "";
      width: 147px;
      height: 147px;
      border-radius: 50%;
      border: 3px solid #000;
      position: absolute;
    }
  }

  .testimonial-head {
    font-size: 1.8rem;
    transform: translateY(-3rem);
    margin-bottom: 1rem;
  }

  .testimonial-detail {
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
}
