body {
  background-image: url(../svg/about/background.svg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-color: transparent;
  position: relative;
}

article {
  width: 75%;
  margin: 0 auto;
}

header {
  position: relative;
}

.header {
  // display: none;
  margin-bottom: 10rem;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // justify-content: flex-end;
    height: 115vh;
    // width: 90%;
    // margin-left: auto;

    &--1 {
      // margin-right: auto;
      transform: translateY(-8%);
    }

    &--2 {
      flex-basis: 36%;
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  &--h1 {
    font-size: 7.4rem;
    letter-spacing: 3px;
    margin-bottom: 2.6rem;
  }

  &--paragraph {
    font-size: 2.4rem;
    letter-spacing: 2px;
    word-spacing: 4px;
  }

  &--svg {
    width: 90%;
  }

  &__image {
    width: 80%;
    height: 40%;
    display: flex;
    margin-left: auto;

    &--arrow {
      margin-right: auto;

      img {
        cursor: pointer;
        width: 2.5rem;
      }
    }

    &--container {
      width: 85%;
      height: calc(85vw * 0.4);
      object-fit: cover;
      position: relative;
    }

    &--container::before {
      content: '';
      position: absolute;
      top: -3rem;
      width: 100%;
      height: 100%;
      background-color: #fdd0d5;
    }

    &--image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translateX(-3rem);
    }
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(950) {
  .header {
    &__heading {
      flex-direction: column;
      height: auto;
      padding: 25rem 0 0;

      &--1 {
        margin-bottom: 5rem;
      }

      &--2 {
        max-width: 450px;
        margin-bottom: 16rem;
      }
    }

    &--svg {
      width: 100%;
    }

    &--h1 {
      font-size: 8rem;
    }

    &__image {
      width: 90%;
      height: calc(90vw * 0.5);

      &--container {
        height: 100%;
      }
    }
  }
}

@include respond(700) {
  .header {
    &__heading {
      padding: 12rem 0 0;
    }

    &__image {
      width: 90%;
      height: calc(95vw * 0.5);
      margin: 0 auto;

      &--arrow {
        display: none;
      }

      &--container {
        width: 100%;
        height: 100%;
      }

      &--container::before {
        top: -3rem;
        transform: translateX(1.5rem);
      }

      &--image {
        transform: translateX(-1.5rem);
      }
    }
  }
}

@include respond(550) {
  .header {
    &__heading {
      &--2 {
        width: 60%;
        min-width: 280px;
        max-width: none;
      }
    }

    &--h1 {
      font-size: 5.6rem;
      letter-spacing: 2px;
    }

    &--paragraph {
      font-size: 2.2rem;
      letter-spacing: 1px;
      word-spacing: 2px;
    }
  }
}

@include respond(450) {
  .header {
    &__heading {
      &--1 {
        margin: 0 auto 4rem 1rem;
      }
    }

    &--h1 {
      font-size: 4.8rem;
    }

    &--paragraph {
      font-size: 2rem;
    }

    &__image {
      &--container::before {
        top: -2rem;
        transform: translateX(1rem);
      }

      &--image {
        transform: translateX(-1rem);
      }
    }
  }
}

@include respond(350) {
  .header {
    &__heading {
      &--2 {
        width: 70%;
        min-width: 240px;
        max-width: none;
      }
    }

    &--h1 {
      font-size: 4.4rem;
      letter-spacing: 0;
    }

    &--paragraph {
      font-size: 1.9rem;
      letter-spacing: 0;
    }
  }
}
