.header {
    margin-bottom: 10rem;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 115vh;
        width: 90%;
        margin-left: auto;

        &--1 {
            margin-right: 12rem;
            transform: translateY(-10%);
        }

        &--2 {
            flex-basis: 40%;
        }
    }

    &__bg {
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    &--h1 {
        font-size: 7.4rem;
        letter-spacing: 3px;
        margin-bottom: 2.6rem;
    }

    &--paragraph {
        font-size: 2.4rem;
        letter-spacing: 2px;
        word-spacing: 4px;
    }

    &--svg {
        width: 90%;
    }

    &__image {
        width: 80%;
        height: 40%;
        display: flex;
        margin-left: auto;

        &--arrow {
            margin-right: auto;

            img {
                cursor: pointer;
                width: 2.5rem;
            }
        }

        &--container {
            width: 85%;
            height: calc(85vw * 0.4);
            object-fit: cover;
            position: relative;
        }

        &--container::before {
            content: '';
            position: absolute;
            top: -3rem;
            width: 100%;
            height: 100%;
            background-color: #fdd0d5;
        }

        &--image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translateX(-3rem);
        }
    }
}
