.section__life {
  // display: none;
  border-top: 2px solid rgb(160, 160, 160);
  padding-top: 8rem;
  margin-bottom: 10rem;
}

.life__heading {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;

  &--h2 {
    font-size: 4rem;
    width: 30%;
  }

  &--paragraph {
    width: 70%;
    font-size: 2.3rem;
    line-height: 1.5;
  }
}

.life__container {
  display: grid;
  grid-template-columns: 280px 300px 350px;
  grid-template-rows: 1fr 1fr;
  gap: 4rem 0;
  justify-content: space-between;
  grid-template-areas:
    '. . .'
    '. . .';
}

.life {
  position: relative;
  padding-top: 110px;

  &--num {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12rem;
    font-weight: 500;
    display: inline;
    background-image: linear-gradient(#e95c6d, #fff 80%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  &--h3 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  &--paragraph {
    font-size: 1.7rem;
    line-height: 1.8;
    letter-spacing: 0.5px;
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1400) {
  .section__life {
    width: 85%;
  }
}

@include respond(1200) {
  .section__life {
    width: 90%;
  }

  .life__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 6rem;
  }
}

@include respond(950) {
  .life__container {
    width: 75%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 6rem;
    grid-template-areas:
      '. .'
      '. .'
      '. .';
  }
}

@include respond(700) {
  .life__container {
    width: 90%;
  }

  .life {
    &--paragraph {
      font-size: 2rem;
    }
  }
}

@include respond(550) {
  .life__heading {
    flex-direction: column;

    &--h2 {
      width: 100%;
      margin-bottom: 4rem;
    }

    &--paragraph {
      width: 100%;
    }
  }

  .life__container {
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem 0;
    grid-template-areas:
      '. '
      '.'
      '.'
      '.'
      '.'
      '.';
  }

  .life {
    width: 100%;
    max-width: 280px;

    &-right {
      margin-left: auto;
    }
  }
}
