.section__teams {
  // display: none;
  border-top: 2px solid rgb(160, 160, 160);
  padding-top: 8rem;
  margin-bottom: 10rem;
}

.teams {
  &__heading {
    text-align: center;
  }

  &__container {
    width: 70%;
    max-width: 900px;
    margin: 0 auto 10rem;
  }

  &__footer {
    font-size: 4rem;
    letter-spacing: 2px;
    line-height: 1.2;
    font-weight: 500;
  }

  &__h2 {
    font-size: 5.6rem;
    letter-spacing: 2px;

    span {
      display: block;
      font-size: 2.5rem;
      letter-spacing: 0px;
      margin: 0.2rem 0 3rem 0;
    }
  }

  &__paragraph {
    margin-bottom: 10rem;
  }
}

.founder {
  width: 100%;
  height: 400px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10rem;
  position: relative;

  &__image {
    flex-basis: 50%;
    display: flex;
    background-image: url(../images/about/G.S-Prasad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--img {
      width: 80%;
      background-image: url(../images/about/G.S-Prasad.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      overflow: hidden;
    }

    &--img:hover {
      .founder__image--hover {
        // transform: scale(1);
        transform: translateY(0);
        opacity: 1;
      }
    }

    &--h3 {
      font-size: 3rem;
      letter-spacing: 4px;
      position: relative;
      padding-bottom: 1rem;
    }

    &--h3::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
    }

    &--paragraph {
      margin-top: 1.5rem;
      line-height: 1.4;
      font-size: 1.8rem;
    }

    &__social {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);

      &--paragraph {
        font-size: 2rem;
      }
      &--image {
        img {
          width: 3.5rem;
          margin: 1.5rem 1rem;
        }
      }
    }

    &--hover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000;
      padding: 70px 20px;
      color: #fff;
      text-align: center;
      // transform: scale(0);
      transform: translateY(100%);
      opacity: 0;
      transition: 0.5s ease-out;
    }

    &--overlay {
      width: 20%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &__heading {
    flex-basis: 50%;
    padding: 2rem 4rem;
    text-align: justify;
    background-color: #ffdada;
  }

  &--h3 {
    font-size: 2.6rem;
    font-weight: 500;

    span {
      display: block;
      font-size: 1.8rem;
      margin-bottom: 4rem;
    }
  }

  // &__teams {
  //     display: flex;
  //     justify-content: space-between;
  // }

  // &__team {
  //     width: 310px;
  //     height: 350px;
  //     background-color: rgb(177, 177, 177);
  //     position: relative;

  //     &--image {
  //         width: 100%;
  //         height: 100%;
  //     }

  //     &--info {
  //         position: relative;
  //         left: 0;
  //         bottom: 120px;
  //         color: #fff;
  //         background-color: #000;
  //         width: 210px;
  //         height: 120px;
  //         padding: 2rem 0 0 45px;
  //     }

  //     &--info::before {
  //         content: '';
  //         position: absolute;
  //         top: 35px;
  //         left: 10px;
  //         background-color: #fff;
  //         width: 20px;
  //         height: 2px;
  //         z-index: 111;
  //     }

  //     &--h3 {
  //         font-size: 2.5rem;
  //         font-weight: 300;
  //         letter-spacing: 5px;
  //         margin-bottom: 0.5rem;
  //     }

  //     &--small {
  //         font-weight: 300;
  //         font-size: 1.6rem;
  //         color: #b8b8b8;
  //     }
  // }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1400) {
  .section__teams {
    width: 85%;
  }
}

@include respond(1200) {
  .section__teams {
    width: 90%;
  }

  .founder {
    height: 420px;
  }

  .teams {
    &__container {
      width: 80%;
    }
  }
}

@include respond(850) {
  .teams {
    &__container {
      width: 95%;
    }
  }
}

@include respond(700) {
  .teams__heading {
    text-align: left;
  }

  .teams__paragraph {
    font-size: 1.8rem;
  }

  .teams__footer {
    font-size: 4rem;
    letter-spacing: 0px;
  }

  .founder {
    flex-direction: column;
    width: 60%;
    min-width: 320px;
    height: 700px;

    &--h3 {
      font-size: 3rem;

      span {
        font-size: 2rem;
        margin-bottom: 3rem;
      }
    }

    &__paragraph {
      font-size: 1.8rem;
    }
  }
}

@include respond(450) {
  .teams__h2 {
    font-size: 4.6rem;
  }

  .teams__footer {
    font-size: 2.8rem;
  }

  .teams__paragraph {
    margin-bottom: 6rem;
  }

  .founder {
    width: 100%;
    min-width: 0;
    max-width: 325px;

    &__image {
      &--img {
        height: 320px;
      }
    }
  }
}
