.section__values {
  border-top: 2px solid rgb(160, 160, 160);
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.values {
  margin-top: 3rem;
  display: flex;

  &--svg {
    width: 22%;
  }

  &--1 {
    width: 35%;
  }

  &--2 {
    width: 66%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4rem 0;
    align-items: center;
    grid-template-areas:
      '. .'
      '. .'
      '. .';
  }

  &__h2 {
    font-size: 5.6rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  &__paragraph {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 1.5;
  }
}

.value {
  display: flex;
  align-items: center;

  &--circle {
    width: 60px;
    height: 60px;
    background-color: rgba(233, 92, 109, 0.15);
    border-radius: 50%;
    padding: 10px;
    margin-right: 30px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__paragraph {
    font-size: 1.7rem;
  }
}
