.section__values {
  // display: none;
  border-top: 2px solid rgb(160, 160, 160);
  padding: 8rem 0 10rem;
}

.values {
  margin-top: 3rem;
  display: flex;

  &--svg {
    width: 22%;
    min-width: 180px;
  }

  &--1 {
    width: 35%;
  }

  &--2 {
    width: 66%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4rem 0;
    align-items: center;
    // grid-template-areas:
    //   '. .'
    //   '. .'
    //   '. .';
  }

  &__h2 {
    font-size: 5.6rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  &__paragraph {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 1.5;
  }
}

.value {
  display: flex;
  align-items: center;

  &--circle {
    width: 60px;
    height: 60px;
    background-color: rgba(233, 92, 109, 0.15);
    border-radius: 50%;
    padding: 10px;
    margin-right: 30px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__paragraph {
    font-size: 1.7rem;
  }
}

.bgBottom {
  transform: rotate(180deg);
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1400) {
  .section__values {
    width: 85%;
  }
}

@include respond(1200) {
  .section__values {
    width: 90%;
  }

  .values {
    &--2 {
      margin-left: 4%;
    }
  }

  .value {
    &--circle {
      width: 50px;
      height: 50px;
    }

    &__img {
      width: 110%;
      height: 110%;
    }
  }
}

@include respond(850) {
  .section__values {
    padding: 8rem 0 6rem;
  }

  .values {
    justify-content: space-between;

    &--1 {
      width: 45%;
      max-width: 340px;
    }

    &--2 {
      width: 44%;
      margin-left: 0;
      gap: 3rem 0;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  }
}

@include respond(550) {
  .values {
    flex-direction: column;

    &--1 {
      width: 100%;
      max-width: 350px;
    }

    &--2 {
      margin-top: 5rem;
      gap: 2rem 0;
      width: 100%;
    }
  }

  .value {
    &--circle {
      width: 48px;
      height: 48px;
    }
  }
}
