.btn {
  border: none;
  padding: 1.2rem 4rem;
  cursor: pointer;
  background-color: transparent;

  &-teams {
    width: 25rem;
    margin: 0 auto;
    margin-bottom: 10rem;
  }

  &-services {
    width: 25rem;
    margin-top: 10rem;
    margin-left: 10%;
  }

  &.arrow {
    padding: 0;
  }

  &-white {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    font-size: 1.5rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;

    &:hover {
      transform: translateY(-2px) scale(1.01);
      box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4);
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &-round {
    border-radius: 5rem;
  }
}
