.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;

  &-teams {
    width: 25rem;
    margin: 0 auto 10rem auto;
  }

  &-services {
    width: 25rem;
    margin-top: 10rem;
    margin-left: 10%;
  }

  &.arrow {
    padding: 0;
    top: 50%;
    margin-right: 1rem;
    transform: translateY(-50%) rotate(180deg);
    transition: transform 0.1s ease-in;

    &.click {
      &:hover {
        transform: translateY(-50%) rotate(180deg) scale(1.05);
      }

      &:active {
        transform: translateY(-50%) rotate(180deg) scale(0.97);
      }
    }

    &-left {
      transform: translateY(-50%) rotate(0);
      margin-left: 1rem;

      &.click {
        &:hover {
          transform: translateY(-50%) rotate(0deg) scale(1.05);
        }

        &:active {
          transform: translateY(-50%) rotate(0deg) scale(0.97);
        }
      }
    }

    &-t {
      background-color: var(--light-color-2);
      padding: 1.4rem;
      border-radius: 50%;
    }
  }

  &-white {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    font-size: 1.5rem;
    padding: 1.2rem 4rem;
    transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;
  }

  &-round {
    border-radius: 5rem;
  }

  &.click {
    &:hover {
      transform: translateY(-2px) scale(1.01);
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &.shadow {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);

    &:hover {
      box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4);
    }
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1600) {
  .btn {
    padding: 1.5rem 5rem;

    &-teams {
      width: 28rem;
    }

    &-services {
      width: 28rem;
    }

    &-white {
      font-size: 1.7rem;
    }
  }
}

@include respond(1400) {
  .btn-services {
    width: 20rem;
    margin-top: 6rem;
    margin-left: 8%;
  }
}

@include respond(950) {
  .btn {
    &-white {
      font-size: 1.4rem;
    }
  }
}
