.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 100;
}

.modal {
  width: 30vw;
  height: 30vw;
  min-width: 42rem;
  min-height: 42rem;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/logo-modal/modal-bg.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.clock {
  position: relative;
}

.needle {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6vw;
  width: 2px;
  transform-origin: bottom center;
  transition: transform 0.25s ease-in;
  opacity: 0.6;
  z-index: 1000;

  &.hour {
    transform: translate(-50%, -100%) rotate(0deg);
  }

  &.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 10vw;
  }
}

.coming {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5vw;
  letter-spacing: 12px;
  text-align: center;
}

.center-point {
  background-color: #fff;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.cross {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
  background-color: pink;
  color: rgb(41, 41, 41);
  border: 0;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    color: pink;
    background-color: rgb(41, 41, 41);
    box-shadow: 0 12px 35px 0 rgba(41, 41, 41, 0.7);
    border: 2px solid pink;
  }

  &:active {
    transform: translateX(-50%) scale(0.9);
  }
}

.hidden {
  display: none;
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1600) {
  .cross {
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }
}

@include respond(1200) {
  .modal {
    min-width: 36rem;
    min-height: 36rem;
  }

  .coming {
    font-size: 4vw;
  }

  .cross {
    width: 35px;
    height: 35px;
    font-size: 1.6rem;
  }
}

@include respond(700) {
  .modal {
    min-width: 32rem;
    min-height: 32rem;
  }

  .needle {
    height: 5rem;

    &.minute {
      height: 9rem;
    }
  }

  .coming {
    font-size: 4rem;
  }

  .cross {
    width: 30px;
    height: 30px;
  }
}
