// .toggle:focus {
//     outline: none;
//   }

.active {
  display: block;
  transform: scale(1);
}

.hidden {
  display: none;
  transform: scale(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 100;
}

.modal {
  width: 30vw;
  height: 30vw;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://images.unsplash.com/photo-1553915632-175f60dd8e36?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.clock {
  position: relative;
}

.needle {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 8vw;
  width: 2px;
  transform-origin: bottom center;
  transition: transform 0.25s ease-in;
  z-index: 1000;

  &.hour {
    transform: translate(-50%, -100%) rotate(0deg);
  }

  &.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 10vw;
    opacity: 0.6;
  }

  //   &.second {
  //     transform: translate(-50%, -100%) rotate(0deg);
  //     height: 12vw;
  //   }
}

.coming {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 7rem;
  letter-spacing: 12px;
  text-align: center;
}

.center-point {
  background-color: #fff;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.cross {
  position: absolute;
  top: 10%;
  left: 50%;
  //   transform: translate(-10%, -50%);
  width: 40px;
  height: 40px;
  font-size: 16px;
  background-color: pink;
  color: rgb(41, 41, 41);
  border: 0;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    color: pink;
    background-color: rgb(41, 41, 41);
    box-shadow: 0 12px 35px 0 rgba(41, 41, 41, 0.7);
    border: 2px solid pink;
  }

  &:active {
    transform: scale(0.9);
  }
}
