.navigation {
  width: 100%;
  height: 15%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);

  &__nav {
    width: 80%;
    margin: 0 auto;
  }

  &__list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 9rem;
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      color: #fff;
      font-size: 1.8rem;
      height: 100%;
      padding: 0 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      position: relative;
      transition: color 0.3s ease-in;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #000;
      bottom: -6px;
      transition: width 0.2s linear;
    }

    &:hover {
      color: var(--light-color-2);

      &::after {
        width: 100%;
      }
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
