.navigation {
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in;

  &__nav {
    width: 80%;
    margin: 0.5rem auto;
  }

  &__list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 9rem;
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      color: #fff;
      font-size: 1.8rem;
      height: 100%;
      padding: 0 4px;
      text-transform: uppercase;
      position: relative;
      transition: color 0.2s ease-in;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #000;
      left: 0;
      bottom: -6px;
      transition: width 0.2s linear;
    }

    &:hover {
      color: var(--light-color-2);

      &::after {
        width: 100%;
      }
    }
  }
}

.hamburger__menu {
  display: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 2rem;
  top: 0.5rem;
  z-index: 1000;
}

.happen-logo-m {
  display: none;
}

.click {
  transition: transform 0.1s ease-in;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.98);
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1600) {
  .navigation {
    &__list {
      img {
        width: 10rem;
      }
    }
    &__link {
      &,
      &:link,
      &:visited {
        font-size: 2rem;
      }
    }
  }
}

@include respond(1900) {
  .navigation {
    &__list {
      img {
        width: 11rem;
      }
    }
    &__link {
      &,
      &:link,
      &:visited {
        font-size: 2.2rem;
      }
    }
  }
}

@include respond(1200) {
  .navigation {
    &__list {
      img {
        width: 8rem;
      }
    }
    &__link {
      &,
      &:link,
      &:visited {
        font-size: 1.6rem;
      }
    }
  }
}

@include respond(950) {
  .navigation {
    &__nav {
      width: 100%;
    }

    &__list {
      justify-content: space-evenly;
      img {
        width: 7rem;
      }
    }
  }
}

@include respond(700) {
  .navigation {
    background-color: #fff;
    top: 0;
    z-index: 100;
    height: 8.4rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    position: fixed;

    &__nav {
      margin: 0;

      .happen-logo-m {
        display: block;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0.4rem;
        left: 2rem;
        z-index: 1000;

        img {
          width: 18rem;
        }
      }
    }

    .hamburger__menu {
      display: block;
    }

    &__list {
      display: flex;
      background-color: #fff;
      position: fixed;
      width: 100%;
      height: 80%;
      flex-direction: column;
      justify-content: center;
      z-index: 100;
      transform: translateY(-100%);
      transition: all 1s ease-out;

      .happen-logo {
        display: none;
      }
    }

    .hamburger.open {
      display: flex;
      transform: translateY(0);
    }

    &__item {
      &.nav:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }

    &__link {
      &,
      &:link,
      &:visited {
        color: #000;
        font-size: 2.2rem;
      }

      &:hover {
        color: var(--light-color-2);
      }
    }
  }
}

@include respond(450) {
  .navigation {
    height: 7rem;

    .happen-logo-m {
      left: 0.8rem;

      img {
        width: 15rem;
      }
    }

    &__link {
      &,
      &:link,
      &:visited {
        font-size: 2.4rem;
      }
    }
  }
}

//////////////////////////////////////////////////////
////////// STICKY NAVIGATION
//////////////////////////////////////////////////////
.navigation.sticky {
  background-color: #fff;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);

  .navigation__nav {
    width: 100%;
    margin: 0 auto;
  }

  .navigation__list {
    width: 100%;
    justify-content: flex-end;

    .happen-logo {
      margin: 0 auto 0 0;
      padding: 0.2rem 0 0 2rem;
      order: -1;
    }

    img {
      width: 6rem;
    }
  }

  .navigation__item {
    margin-right: 3rem;
  }

  .navigation__link {
    &,
    &:link,
    &:visited {
      color: #000;
    }

    &:hover {
      color: var(--light-color-2);
    }
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(700) {
  .navigation.sticky {
    display: none;
  }
}
