.social {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__nav {
    height: 70%;
  }

  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3rem;
  }

  &__item {
    width: 36px;
    transition: transform 0.1s ease-in;

    &:hover {
      transform: scale(1.15);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
