.dec {
  position: absolute;

  &.familiar-circle {
    width: 30.5rem;
    transform: translateX(0.4rem);
  }

  &.passion-circle {
    width: 45rem;
    transform: translateX(-1rem);
  }

  &.arrow {
    top: 50%;
    transform: translateY(-50%);
    margin-right: 1rem;
    right: 0;
    transform: translateY(-50%) rotate(180deg);

    &-left {
      transform: translateY(-50%) rotate(0);
      left: 0;
      margin-left: 1rem;
    }
  }

  &.line {
    height: 100%;

    &-1 {
      left: 16.5%;
    }

    &-2 {
      left: 75%;
    }

    &-3 {
      left: 85%;
    }

    &-4 {
      height: 2px;
      width: 70%;
      left: 12%;
      bottom: 10%;
    }
  }

  &.circle {
    width: 22vw;
  }

  &.half-circle {
    right: 0;
    width: 18vw;

    &.half-circle-up {
      top: 0;
    }

    &.half-circle-down {
      bottom: 0;
    }
  }

  //With Image tag HTML
  // &.triangle {
  //   top: 0;
  //   right: 0;
  //   height: 100%;
  // }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1900) {
  .dec {
    &.familiar-circle {
      width: 34.5rem;
      transform: translateX(0.4rem);
    }

    &.passion-circle {
      width: 50rem;
      transform: translateX(-1rem);
    }
  }
}

@include respond(1400) {
  .dec.arrow {
    img {
      width: 4rem;
    }
  }
}

@include respond(1200) {
  .dec {
    &.passion-circle {
      width: 35vw;
    }

    &.arrow {
      img {
        width: 3.4rem;
      }
    }
  }
}
