.section__counter {
  padding: 3rem 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/counter/counter-l.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.counters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-img {
    width: 16rem;
    margin-bottom: 1rem;

    &-2 {
      width: 18rem;
    }

    &-4 {
      width: 15rem;
    }
  }

  &-count {
    font-size: 4rem;
  }

  &-text {
    font-size: 2rem;
  }
}

@include respond(1900) {
  .section__counter {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/counter/counter-xl.webp);
  }
  .counters {
    width: 70%;
  }
}

@include respond(1200) {
  .section__counter {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/counter/counter-m.webp);
  }

  .counters {
    width: 90%;
  }

  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-img {
      width: 15rem;

      &-2 {
        width: 17rem;
      }

      &-4 {
        width: 14rem;
      }
    }
  }
}

@include respond(950) {
  .counters {
    width: 100%;
    justify-content: space-around;
  }

  .counter {
    &-img {
      width: 13rem;

      &-2 {
        width: 15.6rem;
      }

      &-4 {
        width: 12rem;
      }
    }

    &-count {
      font-size: 3.6rem;
    }

    &-text {
      font-size: 1.8rem;
    }
  }
}

@include respond(700) {
  .section__counter {
    padding: 3rem 1rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/counter/counter-s.webp);
  }
  .counters {
    justify-content: space-between;
  }

  .counter {
    &-img {
      width: 10rem;

      &-2 {
        width: 12rem;
      }

      &-4 {
        width: 9rem;
      }
    }

    &-count {
      font-size: 3rem;
    }

    &-text {
      font-size: 1.7rem;
    }
  }
}

@include respond(550) {
  .section__counter {
    padding: 6rem 0;
  }

  .counters {
    flex-wrap: wrap;
    justify-content: center;
  }

  .counter {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 8rem;
    }

    &-img {
      width: 14rem;

      &-2 {
        width: 16rem;
      }

      &-4 {
        width: 12rem;
      }
    }

    &-count {
      font-size: 3.6rem;
    }

    &-text {
      font-size: 1.9rem;
    }
  }
}
