*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family:cursive;
}

img{
    width: 100%;
    height: auto;
}

a{
    color: black;
    text-decoration: none;
}

footer{
    h2 {
		font-size: 6rem;
	}
    h3{
        font-size: 1.6rem;
    }
    label{
        font-size: 1.8rem;
    }
}

form{
    button, input, textarea{
        outline: none;
    }
}