@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto";
}

main {
  background-color: var(--light-background-2);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.center {
  display: flex;
  justify-content: center;
}
/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1600) {
  html {
    font-size: 68%;
  }
}

@include respond(1900) {
  html {
    font-size: 72%;
  }
}

@include respond(2200) {
  html {
    font-size: 90%;
  }
}

@include respond(1200) {
  html {
    font-size: 58%;
  }
}
