.preload {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--light-background-1);
    transition: opacity 0.5s ease;

    &__container {
        flex-direction: column;
    }
}

.loader {
    margin-top: 2rem;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    color: palevioletred;
}

.loader::after {
    content: '\2026';
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots steps(4, end) 2s infinite;
    width: 0px;
}

.car {
    // width: 30vw;
    transform: translateX(-10%);
    animation: loader 1s ease infinite alternate;
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

@media only screen and (max-width: 450px) {
    .loader {
        transform: translateX(0);
        font-size: 4rem;
        margin-top: 4rem;
    }
}
