//////////////////////////////////////////////////////
////////// H1 HEADING
//////////////////////////////////////////////////////
h1 {
  font-size: 10rem;
  margin-bottom: 4rem;

  span {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.4rem;
    margin-bottom: 1rem;
  }
}
//////////////////////////////////////////////////////
////////// H2 HEADING IN EVERY SECTION
//////////////////////////////////////////////////////
.heading {
  width: 70%;
  text-align: center;
  margin: 0 auto;

  &-header {
    font-size: 5rem;
    letter-spacing: 0.4rem;
    background-image: linear-gradient(
      to bottom,
      var(--light-color-heading-1-1),
      var(--light-color-heading-1-2)
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 2rem;
  }
}

//////////////////////////////////////////////////////
////////// H3 HEADING (RED COLOR HEAD)
//////////////////////////////////////////////////////
.heading-h3 {
  font-size: 5.1rem;
  letter-spacing: 2px;
  color: var(--light-color-heading-2);
}

//////////////////////////////////////////////////////
////////// PARAGRAPH IN EVERY SECTION
//////////////////////////////////////////////////////
.paragraph {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 1.6;
  color: var(--light-text-color-primary);

  &-light {
    font-size: 1.4rem;
    font-weight: 300;
  }
}
