h2 {
  display: inline-block;
  width: 100%;
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  margin: 2rem 0 6rem 0;
  background-color: red;
  background-image: linear-gradient(to right, $color-1, red);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  letter-spacing: 0.2rem;
}
