h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-4, $color-8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  font-size: 4rem;
  text-align: center;
  width: 100%;

  &:hover {
    transform: skewY(1deg) skewX(10deg) scale(1.1);
    text-shadow: 0.2rem 1rem 2rem rgba(black, 0.3);
  }
}
