//////////////////////////////////////////////////////
////////// H2 HEADING IN EVERY SECTION
//////////////////////////////////////////////////////
.heading {
  width: 60%;
  text-align: center;
  margin: 0 auto;

  &-header {
    font-size: 5rem;
    letter-spacing: 0.4rem;
  }
}

//////////////////////////////////////////////////////
////////// PARAGRAPH IN EVERY SECTION
//////////////////////////////////////////////////////
.paragraph {
  font-size: 1.35rem;
  letter-spacing: 0.2rem;
  line-height: 1.6;
}
