@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../fonts/roboto-v27-latin-100.woff2") format("woff2"), url("../fonts/roboto-v27-latin-100.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v27-latin-300.woff2") format("woff2"), url("../fonts/roboto-v27-latin-300.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin-500.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin-regular.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v27-latin-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin-700.woff") format("woff");
  font-display: swap; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  cursor: default; }

main {
  background-color: var(--light-background-2); }

a {
  text-decoration: none; }

li {
  list-style: none; }

.section,
.section-m {
  transition: transform 0.3s ease-in; }

.section--hidden-bottom {
  opacity: 0;
  transform: translateY(6rem) !important; }

.section--hidden-right {
  opacity: 0;
  transform: translateX(-20rem) !important; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

@media only screen and (min-width: 1600px) {
  html {
    font-size: 68%; } }

@media only screen and (min-width: 1900px) {
  html {
    font-size: 72%; } }

@media only screen and (min-width: 2200px) {
  html {
    font-size: 90%; } }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 58%; } }

@media only screen and (max-width: 950px) {
  html {
    font-size: 52%; } }

@media only screen and (max-width: 700px) {
  html {
    font-size: 48%; } }

.preload {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--light-background-1);
  transition: opacity 0.5s ease; }
  .preload__container {
    flex-direction: column; }

.loader {
  margin-top: 2rem;
  font-size: 5rem;
  font-family: 'Courier New', Courier, monospace;
  color: palevioletred; }

.loader::after {
  content: '\2026';
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px; }

.car {
  transform: translateX(-10%);
  animation: loader 1s ease infinite alternate; }

.preload-finish {
  opacity: 0;
  pointer-events: none; }

@media only screen and (max-width: 450px) {
  .loader {
    transform: translateX(0);
    font-size: 4rem;
    margin-top: 4rem; } }

h1 {
  font-size: 10rem;
  margin-bottom: 4rem; }
  h1 span {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.4rem;
    margin-bottom: 1rem; }

@media only screen and (min-width: 1900px) {
  h1 {
    font-size: 12rem;
    margin-bottom: 6rem; }
    h1 span {
      font-size: 7rem; } }

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 9rem; }
    h1 span {
      letter-spacing: 1rem;
      font-size: 5rem;
      font-weight: 500; } }

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 11rem;
    margin-top: 10rem;
    margin-bottom: 8rem; }
    h1 span {
      font-size: 6.5rem; } }

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 9rem;
    margin-top: 10rem;
    margin-bottom: 8rem; }
    h1 span {
      font-size: 5rem; } }

.heading {
  width: 70%;
  text-align: center;
  margin: 0 auto; }
  .heading-header {
    font-size: 5rem;
    letter-spacing: 0.4rem;
    background-image: linear-gradient(to bottom, var(--light-color-heading-1-1), var(--light-color-heading-1-2));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 4rem; }

@media only screen and (min-width: 1600px) {
  .heading {
    width: 60%; } }

@media only screen and (min-width: 1900px) {
  .heading-header {
    font-size: 5.1rem; } }

@media only screen and (max-width: 1200px) {
  .heading {
    width: 80%; } }

@media only screen and (max-width: 700px) {
  .heading {
    width: 98%; } }

.heading-h3 {
  font-size: 5.1rem;
  letter-spacing: 2px;
  color: var(--light-color-heading-2); }

@media only screen and (min-width: 1900px) {
  .heading-h3 {
    font-size: 5.3rem; } }

@media only screen and (max-width: 1200px) {
  .heading-h3 {
    font-size: 4.6rem; } }

@media only screen and (max-width: 1200px) {
  .heading-h3 {
    font-size: 4.6rem; } }

@media only screen and (max-width: 850px) {
  .heading-h3 {
    font-size: 4rem; } }

@media only screen and (max-width: 700px) {
  .heading-h3 {
    font-size: 3.6rem; } }

.paragraph {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: var(--light-text-color-primary);
  line-height: 25px; }
  .paragraph-light {
    font-size: 1.4rem;
    font-weight: 300; }

@media only screen and (min-width: 1600px) {
  .paragraph {
    font-size: 1.6rem; }
    .paragraph-light {
      font-size: 1.5rem; } }

@media only screen and (min-width: 1900px) {
  .paragraph {
    font-size: 1.8rem;
    line-height: 32px; }
    .paragraph-light {
      font-size: 1.6rem; } }

@media only screen and (max-width: 1200px) {
  .paragraph {
    line-height: 24px; } }

@media only screen and (max-width: 1200px) {
  .paragraph {
    line-height: 24px; } }
