footer {
  // display: none;
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
  background-color: #fff;
}

.footer {
  &__logo {
    width: 60%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    padding: 2rem;
    position: relative;

    &--1 {
      width: 30%;
    }

    &--2 {
      display: flex;
      width: 60%;
      justify-content: space-between;

      &-1 {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
      }

      &-2 {
        width: 30%;
      }
    }
  }

  &__heading {
    color: #e95c6d;
    font-size: 1.8rem;
    margin: 2rem 0 1.5rem;
    font-weight: 700;
  }

  &__about--paragraph {
    font-size: 1.6rem;
    color: #332e2e;
  }

  &__contact {
    &--container {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      color: #332e2e;

      img {
        margin-right: 2rem;
        width: 2rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  &__socials {
    display: flex;
    position: relative;
    padding: 0 2rem;
  }

  &__btn {
    position: absolute;
    background-color: #e95c6d;
    border: none;
    right: 1rem;
    bottom: 2rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;

    img {
      width: 28px;
    }
  }
}

.flink {
  margin-top: 7rem;

  &:not(:last-child) {
    margin-right: 8rem;
  }

  &__item {
    margin: 1rem 0;
  }

  &__link {
    font-size: 1.7rem;
    color: #332e2e;
  }
}

.subscribe {
  position: relative;

  &__label {
    font-size: 1.7rem;
    font-weight: 700;
    color: #332e2e;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__icon {
    position: absolute;
    left: 18px;
    width: 20px;
  }

  &__input {
    padding: 1rem 0rem 1rem 48px;
    border-radius: 6px;
    margin: 15px 0;
    color: grey;
    font-size: 1.5rem;
  }

  &__input:focus {
    outline: none;
  }

  &__btn {
    background-color: #e95c6d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    font-size: 1.4rem;
    cursor: pointer;
  }
}

.fsocial {
  display: flex;

  &__item {
    margin: 1rem;
  }

  &__icon {
    width: 3.5rem;
  }
}

.copyright {
  font-size: 1.8rem;
  font-weight: 500;
  align-self: center;
  position: absolute;
  right: 0;
  color: #332e2e;
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1200) {
  .footer {
    &__container {
      &--2 {
        width: 65%;
      }
    }
  }
}

@include respond(950) {
  .footer {
    &__container {
      &--1 {
        width: 45%;
      }

      &--2 {
        width: 50%;
        flex-direction: column;

        &-1 {
          width: 100%;
        }

        &-2 {
          width: 100%;
        }
      }
    }

    &__btn {
      height: 40px;
      width: 40px;

      img {
        width: 22px;
      }
    }
  }

  .flink {
    margin: 2rem 0;
  }
}

@include respond(700) {
  footer {
    // width: 95%;
    padding: 0 2.5%;
  }

  .footer {
    &__container {
      padding: 2rem 0rem 3rem 1rem;
    }

    &__socials {
      padding: 0;
    }
  }

  .fsocial {
    display: none;
  }

  .copyright {
    position: static;
    padding: 1rem 0 2rem;
    font-size: 2.1rem;
  }
}

@include respond(550) {
  footer {
    // width: 90%;
    padding: 0 5%;
  }

  .footer {
    &__container {
      padding: 2rem 0rem 3rem;
      flex-direction: column;

      &--1 {
        width: 100%;
        border-bottom: 2px solid #959595;
        padding: 0 2rem 3rem;
      }

      &--2 {
        display: flex;
        width: 100%;
        justify-content: space-between;

        &-1 {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          border-bottom: 2px solid #959595;
        }

        &-2 {
          width: 80%;
          justify-content: flex-start;
          margin: 4rem 0 2rem;
          padding: 0 2rem;
        }
      }
    }

    &__heading {
      font-size: 2rem;
    }

    &__about {
      margin: 3rem 0;

      &--paragraph {
        font-size: 1.8rem;
      }
    }

    &__contact {
      &--container {
        img {
          width: 2.4rem;
        }

        p {
          font-size: 1.7rem;
        }
      }
    }
  }

  .flink {
    margin: 2rem 0 3rem;

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  .subscribe {
    &__label {
      font-size: 2rem;
    }

    &__input {
      font-size: 1.7rem;
    }

    &__btn {
      font-size: 1.5rem;
    }
  }
}
