.navigation {
  width: 100%;
  display: flex;
  // display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &,
    &:link,
    &:visited {
      color: #fff;
      font-size: 1.7rem;
      height: 100%;
      padding: 0 4px;
      text-transform: uppercase;
      position: relative;
      transition: color 0.2s ease-in;
      margin-right: 3rem;
    }

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #000;
      left: 0;
      bottom: -6px;
      transition: width 0.2s ease-out;
    }

    &.active {
      &::after {
        width: 100%;
        transform: scale(1.05);
      }
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      color: #000;
    }

    &:hover {
      color: var(--light-color-2);
    }
  }
}

.click {
  transition: transform 0.1s ease-in;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.98);
  }
}

.logo {
  z-index: 1000;
}

.happen-logo {
  width: 5.8rem;
  margin-left: 1rem;
  padding: 0.2rem 0;
}

.hamburger {
  display: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 0;
  right: 2rem;
  cursor: pointer;
  z-index: 1000;
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(700) {
  .hamburger {
    display: block;
  }

  .navigation {
    padding-right: 1rem;
  }

  .navigation__nav {
    flex: 1;
    background-color: #fff;
    width: 70%;
    max-width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .open {
    transform: translateY(0);
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: transform 0.5s ease-in;
  }

  .navigation__list {
    flex-direction: column;
    // justify-content: end;
  }

  .navigation__item {
    margin: 2rem 0;
    font-size: 2.1rem;
  }
}
